In [1]:
import pandas as pd
import numpy as np

# Idioms

http://stackoverflow.com/questions/17128302/python-pandas-idiom-for-if-then-else

In [2]:
df = pd.DataFrame({
    'AAA': [4, 5, 6, 7],
    'BBB': [10, 20, 30, 40],
    'CCC': [100, 50, -30, -50]
}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [4]:
df.AAA

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [5]:
df.AAA >= 5

0    False
1     True
2     True
3     True
Name: AAA, dtype: bool

In [9]:
df[df.AAA >= 5]

   AAA  BBB  CCC
1    5   20   50
2    6   30  -30
3    7   40  -50

In [10]:
df[df.AAA >= 5, 'BBB'] = -1;df

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [8]:
df.ix[df.AAA >= 5]

   AAA  BBB  CCC
1    5   20   50
2    6   30  -30
3    7   40  -50

In [11]:
df.ix[df.AAA >= 5, 'BBB'] = -1; df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

In [12]:
df.ix[df.AAA < 5, ['BBB', 'CCC']] = 2000; df

   AAA   BBB   CCC
0    4  2000  2000
1    5    -1    50
2    6    -1   -30
3    7    -1   -50

In [14]:
df_mask = pd.DataFrame({
    'AAA': [True] * 4,
    'BBB': [False] * 4,
    'CCC': [True, False] * 2
}); df_mask

    AAA    BBB    CCC
0  True  False   True
1  True  False  False
2  True  False   True
3  True  False  False

In [16]:
df.where(df_mask)

   AAA  BBB     CCC
0    4  NaN  2000.0
1    5  NaN     NaN
2    6  NaN   -30.0
3    7  NaN     NaN

In [17]:
df

   AAA   BBB   CCC
0    4  2000  2000
1    5    -1    50
2    6    -1   -30
3    7    -1   -50

In [18]:
df.where(df_mask, -1000)

   AAA   BBB   CCC
0    4 -1000  2000
1    5 -1000 -1000
2    6 -1000   -30
3    7 -1000 -1000

In [19]:
df

   AAA   BBB   CCC
0    4  2000  2000
1    5    -1    50
2    6    -1   -30
3    7    -1   -50

In [20]:
df = pd.DataFrame({
    'AAA': [4, 5, 6, 7],
    'BBB': [10, 20, 30, 40],
    'CCC': [100,50,-30,-50]
}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [21]:
df['logic'] = np.where(df['AAA'] > 5, 'high', 'low'); df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

# Splitting

In [22]:
df = pd.DataFrame({
    'AAA': [4, 5, 6, 7],
    'BBB': [10, 20, 30, 40],
    'CCC': [100,50,-30,-50]
}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [23]:
df_low = df[df.AAA <= 5]; df_low

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [24]:
df_high = df[df.AAA > 5]; df_high

   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50

# Building Criteria

In [25]:
df = pd.DataFrame({
    'AAA': [4, 5, 6, 7],
    'BBB': [10, 20, 30, 40],
    'CCC': [100,50,-30,-50]
}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [26]:
newseries = df.loc[(df['BBB'] < 25) & (df['CCC'] >= -40)]; newseries

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [27]:
newseries = df.loc[(df['BBB'] < 25) & (df['CCC'] >= -40), 'AAA']; newseries

0    4
1    5
Name: AAA, dtype: int64

In [29]:
newseries = df.loc[(df['BBB'] > 25) | (df['CCC'] >= -40), 'AAA']; newseries

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [30]:
df.loc[(df['BBB'] > 25) | (df['CCC'] >= 75), 'AAA'] = 0.1; df

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

In [31]:
df = pd.DataFrame({
    'AAA': [4, 5, 6, 7],
    'BBB': [10, 20, 30, 40],
    'CCC': [100,50,-30,-50]
}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [32]:
aValue = 43.0

In [35]:
df.ix[(df.CCC - aValue).abs().argsort()]

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

In [37]:
df.CCC - aValue

0    57.0
1     7.0
2   -73.0
3   -93.0
Name: CCC, dtype: float64

In [38]:
(df.CCC - aValue).abs()

0    57.0
1     7.0
2    73.0
3    93.0
Name: CCC, dtype: float64

In [41]:
(df.CCC - aValue).abs().argsort()

0    1
1    0
2    2
3    3
Name: CCC, dtype: int64

In [42]:
type((df.CCC - aValue).abs().argsort())

pandas.core.series.Series

In [49]:
df = pd.DataFrame({
    'AAA': [4, 5, 6, 7],
    'BBB': [10, 20, 30, 40],
    'CCC': [100,50,-30,-50]
}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [51]:
Crit_1 = df.AAA <= 5.5; Crit_1

0     True
1     True
2    False
3    False
Name: AAA, dtype: bool

In [52]:
Crit_2 = df.BBB == 10.0; Crit_2

0     True
1    False
2    False
3    False
Name: BBB, dtype: bool

In [53]:
Crit_3 = df.CCC > -40.0; Crit_3

0     True
1     True
2     True
3    False
Name: CCC, dtype: bool

In [56]:
%timeit AllCrit_1 = Crit_1 & Crit_2 & Crit_3; AllCrit_1

1000 loops, best of 3: 426 µs per loop

In [61]:
CritList = [Crit_1, Crit_2, Crit_3]

In [64]:
import functools

In [72]:
%timeit AllCrit_2 = functools.reduce(lambda x, y: x & y, CritList); AllCrit_2

1000 loops, best of 3: 397 µs per loop

In [73]:
AllCrit_2 = functools.reduce(lambda x, y: x & y, CritList)

In [74]:
AllCrit_1

0     True
1    False
2    False
3    False
dtype: bool

In [79]:
AllCrit_2

0     True
1    False
2    False
3    False
dtype: bool

In [80]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [76]:
df[AllCrit_1]

   AAA  BBB  CCC
0    4   10  100

In [77]:
df[AllCrit_2]

   AAA  BBB  CCC
0    4   10  100

In [78]:
type(AllCrit_1), type(AllCrit_2)

(pandas.core.series.Series, pandas.core.series.Series)

# Selection

### DataFrames

In [81]:
df = pd.DataFrame({
    'AAA': [4, 5, 6, 7],
    'BBB': [10, 20, 30, 40],
    'CCC': [100,50,-30,-50]
}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [84]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [87]:
df[(df.index.isin([0, 2, 4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

In [88]:
df[(df.AAA <= 6) & (df.index.isin([0,2,4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

In [91]:
data = {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}; data, type(data)

({'AAA': [4, 5, 6, 7], 'BBB': [10, 20, 30, 40], 'CCC': [100, 50, -30, -50]},
 dict)

In [92]:
df = pd.DataFrame(data=data, index=['foo', 'bar', 'boo', 'kar']); df

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

```
There are 2 explicit slicing methods, with a third general case

    1. Positional-oriented (Python slicing style : exclusive of end)
    2. Label-oriented (Non-Python slicing style : inclusive of end)
    3. General (Either slicing style : depends on if the slice contains labels or positions)
```

In [94]:
df.loc['foo':'kar'] # label slicing

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [96]:
df.iloc[0:3] # index slicing, positional

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30

In [98]:
# similar
df.ix[0:3] # generic

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30

In [100]:
df.ix['bar':'kar'] # similar df.loc['bar', 'kar']

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [101]:
df2 = pd.DataFrame(data=data,index=[1,2,3,4]); df2

   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30
4    7   40  -50

In [104]:
df2.iloc[1:3] # positional-oriented

   AAA  BBB  CCC
2    5   20   50
3    6   30  -30

In [105]:
df2.loc[1:3] # label-oriented

   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30

In [107]:
df2.ix[1:3] # general, will mimic loc (label-oriented)

   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30

In [108]:
df2.ix[0:3] # general, will mimic iloc(positional-oriented)

   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30

In [120]:
# NOTE - not raise a KeyError
df2.loc[0:3]

   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30

In [122]:
df2.loc[1:3] # similar to loc[0:3]

   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30

In [125]:
df = pd.DataFrame({
    'AAA': [4, 5, 6, 7],
    'BBB': [10, 20, 30, 40],
    'CCC': [100,50,-30,-50]
}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

##### Using inverse operator (~) to take the complement of a mask

In [127]:
df[(df.AAA <= 6) & (df.index.isin([0, 2, 4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

In [126]:
df[~((df.AAA <= 6) & (df.index.isin([0, 2, 4])))]

   AAA  BBB  CCC
1    5   20   50
3    7   40  -50

# Panels

```
later
```

# New Columns

In [144]:
df = pd.DataFrame({
    'AAA': [1, 2, 1, 3],
    'BBB': [1, 1, 2, 2],
    'CCC': [2, 1, 3, 1]
}); df

   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    2    1

In [145]:
source_cols = df.columns; source_cols, type(source_cols)

(Index(['AAA', 'BBB', 'CCC'], dtype='object'), pandas.indexes.base.Index)

In [146]:
source_cols[0], type(source_cols[0])

('AAA', str)

In [147]:
new_cols = [str(x) + '_cat' for x in source_cols]; new_cols

['AAA_cat', 'BBB_cat', 'CCC_cat']

In [148]:
categories = {
    1: 'Alpha',
    2: 'Beta',
    3: 'Charlie'
}

In [149]:
df[source_cols]

   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    2    1

In [150]:
df[['AAA', 'BBB', 'CCC']]

   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    2    1

In [151]:
df[new_cols] = df[source_cols].applymap(categories.get); df

   AAA  BBB  CCC  AAA_cat BBB_cat  CCC_cat
0    1    1    2    Alpha   Alpha     Beta
1    2    1    1     Beta   Alpha    Alpha
2    1    2    3    Alpha    Beta  Charlie
3    3    2    1  Charlie    Beta    Alpha

In [153]:
df = pd.DataFrame({
    'AAA' : [1,1,1,2,2,2,3,3],
    'BBB' : [2,1,3,4,5,1,2,3]
}); df

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3

##### idxmin() to get the index of the mins

In [160]:
df.groupby('AAA')['BBB'].idxmin()

AAA
1    1
2    5
3    6
Name: BBB, dtype: int64

In [162]:
df.loc[df.groupby('AAA')['BBB'].idxmin()]

   AAA  BBB
1    1    1
5    2    1
6    3    2

##### sort then take first of each

In [163]:
df.sort_values(by='BBB')

   AAA  BBB
1    1    1
5    2    1
0    1    2
6    3    2
2    1    3
7    3    3
3    2    4
4    2    5

In [165]:
df.sort_values(by='BBB').groupby('AAA').first()

     BBB
AAA
1      1
2      1
3      2

In [166]:
df.sort_values(by='BBB').groupby('AAA', as_index=False).first()

   AAA  BBB
0    1    1
1    2    1
2    3    2

# MultiIndexing