In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
s = pd.Series([1, 2, 3, 4, np.nan, 10.0, 100])
s

0      1.0
1      2.0
2      3.0
3      4.0
4      NaN
5     10.0
6    100.0
dtype: float64

In [3]:
pd.Series?

In [4]:
dates = pd.date_range('20170310', periods=100)
dates

DatetimeIndex(['2017-03-10', '2017-03-11', '2017-03-12', '2017-03-13',
               '2017-03-14', '2017-03-15', '2017-03-16', '2017-03-17',
               '2017-03-18', '2017-03-19', '2017-03-20', '2017-03-21',
               '2017-03-22', '2017-03-23', '2017-03-24', '2017-03-25',
               '2017-03-26', '2017-03-27', '2017-03-28', '2017-03-29',
               '2017-03-30', '2017-03-31', '2017-04-01', '2017-04-02',
               '2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
               '2017-04-07', '2017-04-08', '2017-04-09', '2017-04-10',
               '2017-04-11', '2017-04-12', '2017-04-13', '2017-04-14',
               '2017-04-15', '2017-04-16', '2017-04-17', '2017-04-18',
               '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-22',
               '2017-04-23', '2017-04-24', '2017-04-25', '2017-04-26',
               '2017-04-27', '2017-04-28', '2017-04-29', '2017-04-30',
               '2017-05-01', '2017-05-02', '2017-05-03', '2017-05-04',
               '2017-05-05', '2017-05-06', '2017-05-07', '2017-05-08',
               '2017-05-09', '2017-05-10', '2017-05-11', '2017-05-12',
               '2017-05-13', '2017-05-14', '2017-05-15', '2017-05-16',
               '2017-05-17', '2017-05-18', '2017-05-19', '2017-05-20',
               '2017-05-21', '2017-05-22', '2017-05-23', '2017-05-24',
               '2017-05-25', '2017-05-26', '2017-05-27', '2017-05-28',
               '2017-05-29', '2017-05-30', '2017-05-31', '2017-06-01',
               '2017-06-02', '2017-06-03', '2017-06-04', '2017-06-05',
               '2017-06-06', '2017-06-07', '2017-06-08', '2017-06-09',
               '2017-06-10', '2017-06-11', '2017-06-12', '2017-06-13',
               '2017-06-14', '2017-06-15', '2017-06-16', '2017-06-17'],
              dtype='datetime64[ns]', freq='D')

In [5]:
dates.size, dates.shape, type(dates), len(dates)

(100, (100,), pandas.tseries.index.DatetimeIndex, 100)

```
Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:
```

In [6]:
df = pd.DataFrame?

In [7]:
df = pd.DataFrame(np.random.randn(100, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2017-03-10 -0.178776  0.539217 -0.741046  1.413005
2017-03-11 -0.642461  0.726549 -0.983053  0.022568
2017-03-12 -0.394421 -0.743219  1.250500  0.312310
2017-03-13 -0.479280 -0.811287  0.371920  0.192895
2017-03-14  1.593042  0.974134  0.274854 -2.207133
2017-03-15 -0.950220  1.728647 -0.577922  1.007841
2017-03-16  0.504471 -0.604975  1.249009 -0.329755
2017-03-17 -0.182371 -0.033787  1.369554 -1.129134
2017-03-18 -0.584976 -1.606719 -0.348627  1.644637
2017-03-19  1.190062 -0.686335 -1.288669  0.721466
2017-03-20 -2.181558  1.889297  0.191965 -0.324964
2017-03-21 -2.146628  0.373778 -0.757498  0.547423
2017-03-22 -0.596098  0.069547  0.683671 -1.768424
2017-03-23  0.880897 -0.458286 -1.329063  0.591835
2017-03-24  0.542630  1.612486  1.084542  2.573362
2017-03-25 -0.540684  0.485637  0.040470  0.233765
2017-03-26  0.540082  0.790428 -0.138457  0.217651
2017-03-27 -0.231066 -0.229335  0.535707  1.938797
2017-03-28  0.582931  0.034311 -0.475160 -0.402400
2017-03-29  0.026827  0.095859 -0.610001 -0.255637
2017-03-30 -0.553481 -1.168291 -0.467111  1.323276
2017-03-31  1.953092  0.180605 -1.238662  1.407681
2017-04-01 -0.786808 -0.708116 -0.667216  1.356286
2017-04-02  0.426848 -0.395063  0.032445  1.491196
2017-04-03  0.173966  0.718953  1.204138  0.022889
2017-04-04  0.991944 -0.231581 -0.230101  0.681551
2017-04-05  0.002784  1.527573  0.632101  0.813024
2017-04-06 -0.348132  0.160847  0.202606 -0.484877
2017-04-07  0.324946  1.356224 -1.081545 -1.695749
2017-04-08  0.607592  0.362890 -0.272155 -1.562396
...              ...       ...       ...       ...
2017-05-19 -1.029144  0.269069 -0.658276 -0.782932
2017-05-20  1.623873 -0.123789  1.231623  0.711433
2017-05-21 -0.355646  0.673927 -0.218486  1.114147
2017-05-22 -2.339861  2.040201 -0.641177  1.459509
2017-05-23 -0.279068 -2.641285  2.665435  1.092665
2017-05-24  1.094591 -0.091518  1.293394 -0.565312
2017-05-25  0.593120  1.337313  0.102335  0.846915
2017-05-26  1.172580 -0.030742  0.319380 -0.074436
2017-05-27 -1.076265  0.275512  2.049154 -0.259082
2017-05-28 -1.391650  0.015380  2.492998  0.170441
2017-05-29  0.668351 -0.280464 -2.500271  1.252686
2017-05-30  0.395204  1.092751 -0.286126 -1.132349
2017-05-31 -0.948757  0.158969  0.268825  0.931012
2017-06-01  0.772414  2.741329  1.109213 -0.040620
2017-06-02  0.090984  1.167149  0.259144  0.099081
2017-06-03  0.628460 -0.052603  1.423983  0.881851
2017-06-04 -0.967106  0.166264  1.306331  0.298669
2017-06-05 -0.892032 -0.165095 -0.216864 -0.495050
2017-06-06 -0.355684 -1.023888 -0.365277  0.873372
2017-06-07 -0.076965 -0.491162  0.506931  0.506176
2017-06-08 -0.148133  1.409515 -0.042224 -1.176891
2017-06-09 -0.915631 -0.167008  0.041316  0.965342
2017-06-10  1.016768  1.437786 -1.479260 -0.772771
2017-06-11  1.880632  0.957549 -0.199838  0.317153
2017-06-12  0.508111 -1.275609  0.699853 -0.194908
2017-06-13 -0.523600  1.554992 -0.342870  0.969060
2017-06-14  0.503406  0.067988  0.649567  0.090299
2017-06-15 -0.884793 -0.382621 -0.565265  0.329218
2017-06-16  1.314170  1.562244  1.303360 -0.661457
2017-06-17 -0.465856  0.653827 -1.369861 -1.220598

[100 rows x 4 columns]

In [8]:
df.size, df.shape, type(df), len(df)

(400, (100, 4), pandas.core.frame.DataFrame, 100)

```
Creating a DataFrame by passing a dict of objects that can be converted to series-like.
```

In [13]:
df2 = pd.DataFrame({
        'A': 1.,
        'B': pd.Timestamp('20170310'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "python", "javascript", "golang"]),
        'F': 'foo'
})
df2

ValueError: arrays must all be same length

In [14]:
df2 = pd.DataFrame({
        'A': 1.,
        'B': pd.Timestamp('20170310'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "python", "javascript"]),
        'F': 'foo'
})
df2

     A          B    C  D           E    F
0  1.0 2017-03-10  1.0  3        test  foo
1  1.0 2017-03-10  1.0  3       train  foo
2  1.0 2017-03-10  1.0  3      python  foo
3  1.0 2017-03-10  1.0  3  javascript  foo

In [15]:
df2.dtypes?

In [18]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [20]:
len(dir(df2))

431

In [22]:
len(dir(pd))

181

In [23]:
len(dir(pd.DataFrame))

425

### Viewing Data

In [24]:
df

                   A         B         C         D
2017-03-10 -0.178776  0.539217 -0.741046  1.413005
2017-03-11 -0.642461  0.726549 -0.983053  0.022568
2017-03-12 -0.394421 -0.743219  1.250500  0.312310
2017-03-13 -0.479280 -0.811287  0.371920  0.192895
2017-03-14  1.593042  0.974134  0.274854 -2.207133
2017-03-15 -0.950220  1.728647 -0.577922  1.007841
2017-03-16  0.504471 -0.604975  1.249009 -0.329755
2017-03-17 -0.182371 -0.033787  1.369554 -1.129134
2017-03-18 -0.584976 -1.606719 -0.348627  1.644637
2017-03-19  1.190062 -0.686335 -1.288669  0.721466
2017-03-20 -2.181558  1.889297  0.191965 -0.324964
2017-03-21 -2.146628  0.373778 -0.757498  0.547423
2017-03-22 -0.596098  0.069547  0.683671 -1.768424
2017-03-23  0.880897 -0.458286 -1.329063  0.591835
2017-03-24  0.542630  1.612486  1.084542  2.573362
2017-03-25 -0.540684  0.485637  0.040470  0.233765
2017-03-26  0.540082  0.790428 -0.138457  0.217651
2017-03-27 -0.231066 -0.229335  0.535707  1.938797
2017-03-28  0.582931  0.034311 -0.475160 -0.402400
2017-03-29  0.026827  0.095859 -0.610001 -0.255637
2017-03-30 -0.553481 -1.168291 -0.467111  1.323276
2017-03-31  1.953092  0.180605 -1.238662  1.407681
2017-04-01 -0.786808 -0.708116 -0.667216  1.356286
2017-04-02  0.426848 -0.395063  0.032445  1.491196
2017-04-03  0.173966  0.718953  1.204138  0.022889
2017-04-04  0.991944 -0.231581 -0.230101  0.681551
2017-04-05  0.002784  1.527573  0.632101  0.813024
2017-04-06 -0.348132  0.160847  0.202606 -0.484877
2017-04-07  0.324946  1.356224 -1.081545 -1.695749
2017-04-08  0.607592  0.362890 -0.272155 -1.562396
...              ...       ...       ...       ...
2017-05-19 -1.029144  0.269069 -0.658276 -0.782932
2017-05-20  1.623873 -0.123789  1.231623  0.711433
2017-05-21 -0.355646  0.673927 -0.218486  1.114147
2017-05-22 -2.339861  2.040201 -0.641177  1.459509
2017-05-23 -0.279068 -2.641285  2.665435  1.092665
2017-05-24  1.094591 -0.091518  1.293394 -0.565312
2017-05-25  0.593120  1.337313  0.102335  0.846915
2017-05-26  1.172580 -0.030742  0.319380 -0.074436
2017-05-27 -1.076265  0.275512  2.049154 -0.259082
2017-05-28 -1.391650  0.015380  2.492998  0.170441
2017-05-29  0.668351 -0.280464 -2.500271  1.252686
2017-05-30  0.395204  1.092751 -0.286126 -1.132349
2017-05-31 -0.948757  0.158969  0.268825  0.931012
2017-06-01  0.772414  2.741329  1.109213 -0.040620
2017-06-02  0.090984  1.167149  0.259144  0.099081
2017-06-03  0.628460 -0.052603  1.423983  0.881851
2017-06-04 -0.967106  0.166264  1.306331  0.298669
2017-06-05 -0.892032 -0.165095 -0.216864 -0.495050
2017-06-06 -0.355684 -1.023888 -0.365277  0.873372
2017-06-07 -0.076965 -0.491162  0.506931  0.506176
2017-06-08 -0.148133  1.409515 -0.042224 -1.176891
2017-06-09 -0.915631 -0.167008  0.041316  0.965342
2017-06-10  1.016768  1.437786 -1.479260 -0.772771
2017-06-11  1.880632  0.957549 -0.199838  0.317153
2017-06-12  0.508111 -1.275609  0.699853 -0.194908
2017-06-13 -0.523600  1.554992 -0.342870  0.969060
2017-06-14  0.503406  0.067988  0.649567  0.090299
2017-06-15 -0.884793 -0.382621 -0.565265  0.329218
2017-06-16  1.314170  1.562244  1.303360 -0.661457
2017-06-17 -0.465856  0.653827 -1.369861 -1.220598

[100 rows x 4 columns]

In [25]:
df.head()

                   A         B         C         D
2017-03-10 -0.178776  0.539217 -0.741046  1.413005
2017-03-11 -0.642461  0.726549 -0.983053  0.022568
2017-03-12 -0.394421 -0.743219  1.250500  0.312310
2017-03-13 -0.479280 -0.811287  0.371920  0.192895
2017-03-14  1.593042  0.974134  0.274854 -2.207133

In [26]:
df.tail()

                   A         B         C         D
2017-06-13 -0.523600  1.554992 -0.342870  0.969060
2017-06-14  0.503406  0.067988  0.649567  0.090299
2017-06-15 -0.884793 -0.382621 -0.565265  0.329218
2017-06-16  1.314170  1.562244  1.303360 -0.661457
2017-06-17 -0.465856  0.653827 -1.369861 -1.220598

In [27]:
df.head(10)

                   A         B         C         D
2017-03-10 -0.178776  0.539217 -0.741046  1.413005
2017-03-11 -0.642461  0.726549 -0.983053  0.022568
2017-03-12 -0.394421 -0.743219  1.250500  0.312310
2017-03-13 -0.479280 -0.811287  0.371920  0.192895
2017-03-14  1.593042  0.974134  0.274854 -2.207133
2017-03-15 -0.950220  1.728647 -0.577922  1.007841
2017-03-16  0.504471 -0.604975  1.249009 -0.329755
2017-03-17 -0.182371 -0.033787  1.369554 -1.129134
2017-03-18 -0.584976 -1.606719 -0.348627  1.644637
2017-03-19  1.190062 -0.686335 -1.288669  0.721466

In [35]:
df.tail(3)

                   A         B         C         D
2017-06-15 -0.884793 -0.382621 -0.565265  0.329218
2017-06-16  1.314170  1.562244  1.303360 -0.661457
2017-06-17 -0.465856  0.653827 -1.369861 -1.220598

```
Display the index, columns, and the underlying numpy data
```

In [29]:
df.index

DatetimeIndex(['2017-03-10', '2017-03-11', '2017-03-12', '2017-03-13',
               '2017-03-14', '2017-03-15', '2017-03-16', '2017-03-17',
               '2017-03-18', '2017-03-19', '2017-03-20', '2017-03-21',
               '2017-03-22', '2017-03-23', '2017-03-24', '2017-03-25',
               '2017-03-26', '2017-03-27', '2017-03-28', '2017-03-29',
               '2017-03-30', '2017-03-31', '2017-04-01', '2017-04-02',
               '2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
               '2017-04-07', '2017-04-08', '2017-04-09', '2017-04-10',
               '2017-04-11', '2017-04-12', '2017-04-13', '2017-04-14',
               '2017-04-15', '2017-04-16', '2017-04-17', '2017-04-18',
               '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-22',
               '2017-04-23', '2017-04-24', '2017-04-25', '2017-04-26',
               '2017-04-27', '2017-04-28', '2017-04-29', '2017-04-30',
               '2017-05-01', '2017-05-02', '2017-05-03', '2017-05-04',
               '2017-05-05', '2017-05-06', '2017-05-07', '2017-05-08',
               '2017-05-09', '2017-05-10', '2017-05-11', '2017-05-12',
               '2017-05-13', '2017-05-14', '2017-05-15', '2017-05-16',
               '2017-05-17', '2017-05-18', '2017-05-19', '2017-05-20',
               '2017-05-21', '2017-05-22', '2017-05-23', '2017-05-24',
               '2017-05-25', '2017-05-26', '2017-05-27', '2017-05-28',
               '2017-05-29', '2017-05-30', '2017-05-31', '2017-06-01',
               '2017-06-02', '2017-06-03', '2017-06-04', '2017-06-05',
               '2017-06-06', '2017-06-07', '2017-06-08', '2017-06-09',
               '2017-06-10', '2017-06-11', '2017-06-12', '2017-06-13',
               '2017-06-14', '2017-06-15', '2017-06-16', '2017-06-17'],
              dtype='datetime64[ns]', freq='D')

In [30]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [34]:
df.values

array([[ -1.78775533e-01,   5.39216661e-01,  -7.41046042e-01,
          1.41300465e+00],
       [ -6.42461270e-01,   7.26548653e-01,  -9.83052938e-01,
          2.25678802e-02],
       [ -3.94421340e-01,  -7.43219012e-01,   1.25050005e+00,
          3.12310427e-01],
       [ -4.79279567e-01,  -8.11287347e-01,   3.71920040e-01,
          1.92895082e-01],
       [  1.59304236e+00,   9.74133810e-01,   2.74854184e-01,
         -2.20713290e+00],
       [ -9.50220088e-01,   1.72864740e+00,  -5.77921613e-01,
          1.00784095e+00],
       [  5.04471240e-01,  -6.04975475e-01,   1.24900908e+00,
         -3.29754877e-01],
       [ -1.82370980e-01,  -3.37874908e-02,   1.36955439e+00,
         -1.12913446e+00],
       [ -5.84976317e-01,  -1.60671867e+00,  -3.48627355e-01,
          1.64463650e+00],
       [  1.19006186e+00,  -6.86334766e-01,  -1.28866947e+00,
          7.21466164e-01],
       [ -2.18155840e+00,   1.88929718e+00,   1.91965190e-01,
         -3.24963589e-01],
       [ -2.14662849e+00,   3.73778264e-01,  -7.57497897e-01,
          5.47422638e-01],
       [ -5.96098461e-01,   6.95468970e-02,   6.83671165e-01,
         -1.76842382e+00],
       [  8.80897428e-01,  -4.58286206e-01,  -1.32906287e+00,
          5.91834645e-01],
       [  5.42629642e-01,   1.61248643e+00,   1.08454226e+00,
          2.57336189e+00],
       [ -5.40684183e-01,   4.85637202e-01,   4.04699954e-02,
          2.33764912e-01],
       [  5.40082375e-01,   7.90427512e-01,  -1.38456757e-01,
          2.17650918e-01],
       [ -2.31065526e-01,  -2.29334746e-01,   5.35706734e-01,
          1.93879651e+00],
       [  5.82931157e-01,   3.43110062e-02,  -4.75160041e-01,
         -4.02400260e-01],
       [  2.68270147e-02,   9.58591167e-02,  -6.10001030e-01,
         -2.55636649e-01],
       [ -5.53481485e-01,  -1.16829125e+00,  -4.67110911e-01,
          1.32327585e+00],
       [  1.95309214e+00,   1.80605022e-01,  -1.23866180e+00,
          1.40768122e+00],
       [ -7.86807738e-01,  -7.08115855e-01,  -6.67215791e-01,
          1.35628589e+00],
       [  4.26848459e-01,  -3.95063182e-01,   3.24448532e-02,
          1.49119571e+00],
       [  1.73965752e-01,   7.18953233e-01,   1.20413828e+00,
          2.28891744e-02],
       [  9.91944319e-01,  -2.31580578e-01,  -2.30101338e-01,
          6.81550727e-01],
       [  2.78435529e-03,   1.52757255e+00,   6.32100787e-01,
          8.13024074e-01],
       [ -3.48132314e-01,   1.60847244e-01,   2.02606338e-01,
         -4.84877034e-01],
       [  3.24946085e-01,   1.35622433e+00,  -1.08154550e+00,
         -1.69574908e+00],
       [  6.07591906e-01,   3.62890328e-01,  -2.72154612e-01,
         -1.56239570e+00],
       [ -1.07711672e+00,   1.06830710e+00,   1.61233769e+00,
          6.86875883e-01],
       [  1.38151081e+00,   8.71956349e-01,   2.04274907e+00,
         -7.73600403e-01],
       [  1.20026726e+00,   1.95017649e-01,  -2.19431363e+00,
         -1.17146102e+00],
       [ -1.14121468e+00,  -1.98552512e-01,   1.00972093e+00,
          3.41040151e-01],
       [  2.81301858e-01,  -1.28027840e+00,  -9.83246482e-01,
          9.73983976e-01],
       [ -7.91090969e-01,  -1.89291172e+00,   7.02469763e-01,
          9.80169200e-01],
       [  1.47246450e-01,  -1.40349616e+00,  -5.87832779e-01,
          8.39371370e-02],
       [  4.22513523e-02,  -1.34872318e+00,   4.05306617e-01,
          1.34817351e-01],
       [  9.20017819e-01,   3.55163617e-01,   3.38565350e-01,
         -2.40600908e-01],
       [ -3.62417417e-02,   1.42747028e+00,   1.76233280e+00,
          9.41747260e-01],
       [ -1.35298212e+00,   1.42311390e+00,   6.44170259e-01,
         -1.29824114e+00],
       [  1.39724697e+00,   7.58253784e-01,   2.68502883e+00,
         -1.82190027e-01],
       [  8.46231978e-01,  -5.54852960e-01,  -1.56039200e+00,
          1.37125194e+00],
       [ -1.04377982e-01,  -1.00821122e+00,  -7.21801563e-02,
         -1.23091087e+00],
       [  2.52780156e-01,   1.29949374e+00,  -1.40549923e+00,
          1.01068644e+00],
       [  1.33191014e+00,   4.96486197e-01,   1.36305130e+00,
         -1.82320342e+00],
       [  8.24445986e-01,   5.89189567e-01,  -2.14815393e-01,
          2.01183125e-01],
       [  1.64483649e+00,   1.38153832e+00,   7.83465919e-01,
         -3.05282820e-02],
       [  1.11235288e-01,  -9.90738329e-01,  -2.28434491e-01,
         -1.09880145e+00],
       [ -2.42877505e-01,   1.23368514e+00,   1.97192577e-01,
         -9.18466102e-01],
       [  8.73569509e-01,   2.85965213e-01,   7.02054187e-01,
         -2.00210939e+00],
       [  9.00543124e-01,   5.73737142e-01,   5.38704046e-01,
          1.46694089e+00],
       [ -1.44792503e+00,   9.26514539e-01,  -1.90591250e-01,
         -3.61489179e-01],
       [ -2.08944444e-01,  -1.53787974e+00,   1.96670874e+00,
         -5.11275332e-02],
       [ -1.21558834e+00,   7.48847535e-01,  -2.47391299e-02,
          3.13497522e+00],
       [ -8.35951109e-01,   1.64818109e+00,   2.69683174e-02,
         -4.45550823e-01],
       [ -5.41750027e-01,  -1.20944786e+00,   1.19789650e+00,
         -3.40599524e-01],
       [ -2.30656069e+00,  -7.15094659e-01,   4.27526201e-01,
          1.46595273e+00],
       [  1.06396628e+00,  -4.43399900e-02,   2.42080795e-01,
         -1.37208539e+00],
       [ -2.58782472e-01,   1.23989926e+00,  -2.87396819e-01,
          4.90571159e-01],
       [ -1.07531384e+00,   3.11775272e-01,  -1.11467889e+00,
          5.77736470e-01],
       [ -4.21756201e-01,  -1.21557072e+00,  -2.23162950e-01,
          1.63978198e+00],
       [  1.05664250e+00,   5.92195381e-01,   1.09208391e+00,
          2.07976825e+00],
       [  1.67527121e+00,   5.41161277e-01,   6.89924749e-01,
         -1.49757585e+00],
       [  8.15020524e-02,  -5.03879313e-01,   1.45600489e-02,
          3.59837216e-01],
       [ -1.24864298e+00,   6.50929999e-01,   7.09913180e-01,
         -7.22208863e-01],
       [ -1.04194837e+00,  -1.09171043e+00,  -2.42679161e+00,
         -4.42112148e-01],
       [ -1.40837571e+00,   7.41518622e-02,   1.30331853e+00,
          1.05584351e+00],
       [  1.04991645e+00,  -1.39939522e-01,   5.12196776e-01,
          1.59642489e-01],
       [  1.26132632e-01,  -9.00357448e-01,  -7.61870511e-02,
          2.45143812e+00],
       [ -1.02914357e+00,   2.69069198e-01,  -6.58275815e-01,
         -7.82932207e-01],
       [  1.62387291e+00,  -1.23789328e-01,   1.23162339e+00,
          7.11433456e-01],
       [ -3.55646456e-01,   6.73926766e-01,  -2.18486209e-01,
          1.11414684e+00],
       [ -2.33986111e+00,   2.04020057e+00,  -6.41177301e-01,
          1.45950908e+00],
       [ -2.79067679e-01,  -2.64128501e+00,   2.66543504e+00,
          1.09266527e+00],
       [  1.09459079e+00,  -9.15183467e-02,   1.29339446e+00,
         -5.65312437e-01],
       [  5.93120345e-01,   1.33731323e+00,   1.02334958e-01,
          8.46914547e-01],
       [  1.17258024e+00,  -3.07417903e-02,   3.19379666e-01,
         -7.44359259e-02],
       [ -1.07626528e+00,   2.75511820e-01,   2.04915447e+00,
         -2.59082248e-01],
       [ -1.39164960e+00,   1.53800542e-02,   2.49299780e+00,
          1.70440767e-01],
       [  6.68351369e-01,  -2.80463706e-01,  -2.50027094e+00,
          1.25268590e+00],
       [  3.95203882e-01,   1.09275133e+00,  -2.86125934e-01,
         -1.13234853e+00],
       [ -9.48756805e-01,   1.58969458e-01,   2.68825386e-01,
          9.31012365e-01],
       [  7.72413575e-01,   2.74132939e+00,   1.10921307e+00,
         -4.06201815e-02],
       [  9.09841395e-02,   1.16714872e+00,   2.59143827e-01,
          9.90814715e-02],
       [  6.28460322e-01,  -5.26027124e-02,   1.42398341e+00,
          8.81851410e-01],
       [ -9.67106089e-01,   1.66263591e-01,   1.30633112e+00,
          2.98669434e-01],
       [ -8.92032338e-01,  -1.65095280e-01,  -2.16863510e-01,
         -4.95050029e-01],
       [ -3.55683745e-01,  -1.02388780e+00,  -3.65277133e-01,
          8.73371511e-01],
       [ -7.69650680e-02,  -4.91162175e-01,   5.06930939e-01,
          5.06176098e-01],
       [ -1.48132736e-01,   1.40951506e+00,  -4.22242205e-02,
         -1.17689067e+00],
       [ -9.15630673e-01,  -1.67007583e-01,   4.13161355e-02,
          9.65341860e-01],
       [  1.01676767e+00,   1.43778607e+00,  -1.47926004e+00,
         -7.72770814e-01],
       [  1.88063161e+00,   9.57549054e-01,  -1.99837611e-01,
          3.17152683e-01],
       [  5.08110853e-01,  -1.27560915e+00,   6.99853246e-01,
         -1.94907878e-01],
       [ -5.23599730e-01,   1.55499205e+00,  -3.42869658e-01,
          9.69059813e-01],
       [  5.03405806e-01,   6.79884663e-02,   6.49567435e-01,
          9.02986589e-02],
       [ -8.84792857e-01,  -3.82621444e-01,  -5.65264898e-01,
          3.29218059e-01],
       [  1.31416968e+00,   1.56224372e+00,   1.30335997e+00,
         -6.61456693e-01],
       [ -4.65855515e-01,   6.53827278e-01,  -1.36986130e+00,
         -1.22059751e+00]])

```
Describe shows a quick statistic summary of your data


```

In [38]:
df.describe()

                A           B           C           D
count  100.000000  100.000000  100.000000  100.000000
mean    -0.003910    0.194630    0.181343    0.194909
std      0.975611    0.986082    1.038781    1.063164
min     -2.339861   -2.641285   -2.500271   -2.207133
25%     -0.678548   -0.466505   -0.390736   -0.455382
50%     -0.016729    0.173434    0.147150    0.197039
75%      0.785422    0.885596    0.728301    0.966271
max      1.953092    2.741329    2.685029    3.134975

In [39]:
df.T

,2017-03-10 00:00:00,2017-03-11 00:00:00,2017-03-12 00:00:00,2017-03-13 00:00:00,2017-03-14 00:00:00,2017-03-15 00:00:00,2017-03-16 00:00:00,2017-03-17 00:00:00,2017-03-18 00:00:00,2017-03-19 00:00:00,...,2017-06-08 00:00:00,2017-06-09 00:00:00,2017-06-10 00:00:00,2017-06-11 00:00:00,2017-06-12 00:00:00,2017-06-13 00:00:00,2017-06-14 00:00:00,2017-06-15 00:00:00,2017-06-16 00:00:00,2017-06-17 00:00:00
A,-0.178776,-0.642461,-0.394421,-0.479280,1.593042,-0.950220,0.504471,-0.182371,-0.584976,1.190062,...,-0.148133,-0.915631,1.016768,1.880632,0.508111,-0.523600,0.503406,-0.884793,1.314170,-0.465856
B,0.539217,0.726549,-0.743219,-0.811287,0.974134,1.728647,-0.604975,-0.033787,-1.606719,-0.686335,...,1.409515,-0.167008,1.437786,0.957549,-1.275609,1.554992,0.067988,-0.382621,1.562244,0.653827
C,-0.741046,-0.983053,1.250500,0.371920,0.274854,-0.577922,1.249009,1.369554,-0.348627,-1.288669,...,-0.042224,0.041316,-1.479260,-0.199838,0.699853,-0.342870,0.649567,-0.565265,1.303360,-1.369861
D,1.413005,0.022568,0.312310,0.192895,-2.207133,1.007841,-0.329755,-1.129134,1.644637,0.721466,...,-1.176891,0.965342,-0.772771,0.317153,-0.194908,0.969060,0.090299,0.329218,-0.661457,-1.220598

In [40]:
(df.T).size, (df.T).shape, type(df.T), len(df.T)

(400, (4, 100), pandas.core.frame.DataFrame, 4)

```
Sorting by an axis
```

In [48]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2017-03-10  1.413005 -0.741046  0.539217 -0.178776
2017-03-11  0.022568 -0.983053  0.726549 -0.642461
2017-03-12  0.312310  1.250500 -0.743219 -0.394421
2017-03-13  0.192895  0.371920 -0.811287 -0.479280
2017-03-14 -2.207133  0.274854  0.974134  1.593042
2017-03-15  1.007841 -0.577922  1.728647 -0.950220
2017-03-16 -0.329755  1.249009 -0.604975  0.504471
2017-03-17 -1.129134  1.369554 -0.033787 -0.182371
2017-03-18  1.644637 -0.348627 -1.606719 -0.584976
2017-03-19  0.721466 -1.288669 -0.686335  1.190062
2017-03-20 -0.324964  0.191965  1.889297 -2.181558
2017-03-21  0.547423 -0.757498  0.373778 -2.146628
2017-03-22 -1.768424  0.683671  0.069547 -0.596098
2017-03-23  0.591835 -1.329063 -0.458286  0.880897
2017-03-24  2.573362  1.084542  1.612486  0.542630
2017-03-25  0.233765  0.040470  0.485637 -0.540684
2017-03-26  0.217651 -0.138457  0.790428  0.540082
2017-03-27  1.938797  0.535707 -0.229335 -0.231066
2017-03-28 -0.402400 -0.475160  0.034311  0.582931
2017-03-29 -0.255637 -0.610001  0.095859  0.026827
2017-03-30  1.323276 -0.467111 -1.168291 -0.553481
2017-03-31  1.407681 -1.238662  0.180605  1.953092
2017-04-01  1.356286 -0.667216 -0.708116 -0.786808
2017-04-02  1.491196  0.032445 -0.395063  0.426848
2017-04-03  0.022889  1.204138  0.718953  0.173966
2017-04-04  0.681551 -0.230101 -0.231581  0.991944
2017-04-05  0.813024  0.632101  1.527573  0.002784
2017-04-06 -0.484877  0.202606  0.160847 -0.348132
2017-04-07 -1.695749 -1.081545  1.356224  0.324946
2017-04-08 -1.562396 -0.272155  0.362890  0.607592
...              ...       ...       ...       ...
2017-05-19 -0.782932 -0.658276  0.269069 -1.029144
2017-05-20  0.711433  1.231623 -0.123789  1.623873
2017-05-21  1.114147 -0.218486  0.673927 -0.355646
2017-05-22  1.459509 -0.641177  2.040201 -2.339861
2017-05-23  1.092665  2.665435 -2.641285 -0.279068
2017-05-24 -0.565312  1.293394 -0.091518  1.094591
2017-05-25  0.846915  0.102335  1.337313  0.593120
2017-05-26 -0.074436  0.319380 -0.030742  1.172580
2017-05-27 -0.259082  2.049154  0.275512 -1.076265
2017-05-28  0.170441  2.492998  0.015380 -1.391650
2017-05-29  1.252686 -2.500271 -0.280464  0.668351
2017-05-30 -1.132349 -0.286126  1.092751  0.395204
2017-05-31  0.931012  0.268825  0.158969 -0.948757
2017-06-01 -0.040620  1.109213  2.741329  0.772414
2017-06-02  0.099081  0.259144  1.167149  0.090984
2017-06-03  0.881851  1.423983 -0.052603  0.628460
2017-06-04  0.298669  1.306331  0.166264 -0.967106
2017-06-05 -0.495050 -0.216864 -0.165095 -0.892032
2017-06-06  0.873372 -0.365277 -1.023888 -0.355684
2017-06-07  0.506176  0.506931 -0.491162 -0.076965
2017-06-08 -1.176891 -0.042224  1.409515 -0.148133
2017-06-09  0.965342  0.041316 -0.167008 -0.915631
2017-06-10 -0.772771 -1.479260  1.437786  1.016768
2017-06-11  0.317153 -0.199838  0.957549  1.880632
2017-06-12 -0.194908  0.699853 -1.275609  0.508111
2017-06-13  0.969060 -0.342870  1.554992 -0.523600
2017-06-14  0.090299  0.649567  0.067988  0.503406
2017-06-15  0.329218 -0.565265 -0.382621 -0.884793
2017-06-16 -0.661457  1.303360  1.562244  1.314170
2017-06-17 -1.220598 -1.369861  0.653827 -0.465856

[100 rows x 4 columns]

In [49]:
df.sort_index(axis=1, ascending=0)

                   D         C         B         A
2017-03-10  1.413005 -0.741046  0.539217 -0.178776
2017-03-11  0.022568 -0.983053  0.726549 -0.642461
2017-03-12  0.312310  1.250500 -0.743219 -0.394421
2017-03-13  0.192895  0.371920 -0.811287 -0.479280
2017-03-14 -2.207133  0.274854  0.974134  1.593042
2017-03-15  1.007841 -0.577922  1.728647 -0.950220
2017-03-16 -0.329755  1.249009 -0.604975  0.504471
2017-03-17 -1.129134  1.369554 -0.033787 -0.182371
2017-03-18  1.644637 -0.348627 -1.606719 -0.584976
2017-03-19  0.721466 -1.288669 -0.686335  1.190062
2017-03-20 -0.324964  0.191965  1.889297 -2.181558
2017-03-21  0.547423 -0.757498  0.373778 -2.146628
2017-03-22 -1.768424  0.683671  0.069547 -0.596098
2017-03-23  0.591835 -1.329063 -0.458286  0.880897
2017-03-24  2.573362  1.084542  1.612486  0.542630
2017-03-25  0.233765  0.040470  0.485637 -0.540684
2017-03-26  0.217651 -0.138457  0.790428  0.540082
2017-03-27  1.938797  0.535707 -0.229335 -0.231066
2017-03-28 -0.402400 -0.475160  0.034311  0.582931
2017-03-29 -0.255637 -0.610001  0.095859  0.026827
2017-03-30  1.323276 -0.467111 -1.168291 -0.553481
2017-03-31  1.407681 -1.238662  0.180605  1.953092
2017-04-01  1.356286 -0.667216 -0.708116 -0.786808
2017-04-02  1.491196  0.032445 -0.395063  0.426848
2017-04-03  0.022889  1.204138  0.718953  0.173966
2017-04-04  0.681551 -0.230101 -0.231581  0.991944
2017-04-05  0.813024  0.632101  1.527573  0.002784
2017-04-06 -0.484877  0.202606  0.160847 -0.348132
2017-04-07 -1.695749 -1.081545  1.356224  0.324946
2017-04-08 -1.562396 -0.272155  0.362890  0.607592
...              ...       ...       ...       ...
2017-05-19 -0.782932 -0.658276  0.269069 -1.029144
2017-05-20  0.711433  1.231623 -0.123789  1.623873
2017-05-21  1.114147 -0.218486  0.673927 -0.355646
2017-05-22  1.459509 -0.641177  2.040201 -2.339861
2017-05-23  1.092665  2.665435 -2.641285 -0.279068
2017-05-24 -0.565312  1.293394 -0.091518  1.094591
2017-05-25  0.846915  0.102335  1.337313  0.593120
2017-05-26 -0.074436  0.319380 -0.030742  1.172580
2017-05-27 -0.259082  2.049154  0.275512 -1.076265
2017-05-28  0.170441  2.492998  0.015380 -1.391650
2017-05-29  1.252686 -2.500271 -0.280464  0.668351
2017-05-30 -1.132349 -0.286126  1.092751  0.395204
2017-05-31  0.931012  0.268825  0.158969 -0.948757
2017-06-01 -0.040620  1.109213  2.741329  0.772414
2017-06-02  0.099081  0.259144  1.167149  0.090984
2017-06-03  0.881851  1.423983 -0.052603  0.628460
2017-06-04  0.298669  1.306331  0.166264 -0.967106
2017-06-05 -0.495050 -0.216864 -0.165095 -0.892032
2017-06-06  0.873372 -0.365277 -1.023888 -0.355684
2017-06-07  0.506176  0.506931 -0.491162 -0.076965
2017-06-08 -1.176891 -0.042224  1.409515 -0.148133
2017-06-09  0.965342  0.041316 -0.167008 -0.915631
2017-06-10 -0.772771 -1.479260  1.437786  1.016768
2017-06-11  0.317153 -0.199838  0.957549  1.880632
2017-06-12 -0.194908  0.699853 -1.275609  0.508111
2017-06-13  0.969060 -0.342870  1.554992 -0.523600
2017-06-14  0.090299  0.649567  0.067988  0.503406
2017-06-15  0.329218 -0.565265 -0.382621 -0.884793
2017-06-16 -0.661457  1.303360  1.562244  1.314170
2017-06-17 -1.220598 -1.369861  0.653827 -0.465856

[100 rows x 4 columns]

In [52]:
df.sort_values(by='B', ascending=0)

                   A         B         C         D
2017-06-01  0.772414  2.741329  1.109213 -0.040620
2017-05-22 -2.339861  2.040201 -0.641177  1.459509
2017-03-20 -2.181558  1.889297  0.191965 -0.324964
2017-03-15 -0.950220  1.728647 -0.577922  1.007841
2017-05-04 -0.835951  1.648181  0.026968 -0.445551
2017-03-24  0.542630  1.612486  1.084542  2.573362
2017-06-16  1.314170  1.562244  1.303360 -0.661457
2017-06-13 -0.523600  1.554992 -0.342870  0.969060
2017-04-05  0.002784  1.527573  0.632101  0.813024
2017-06-10  1.016768  1.437786 -1.479260 -0.772771
2017-04-18 -0.036242  1.427470  1.762333  0.941747
2017-04-19 -1.352982  1.423114  0.644170 -1.298241
2017-06-08 -0.148133  1.409515 -0.042224 -1.176891
2017-04-26  1.644836  1.381538  0.783466 -0.030528
2017-04-07  0.324946  1.356224 -1.081545 -1.695749
2017-05-25  0.593120  1.337313  0.102335  0.846915
2017-04-23  0.252780  1.299494 -1.405499  1.010686
2017-05-08 -0.258782  1.239899 -0.287397  0.490571
2017-04-28 -0.242878  1.233685  0.197193 -0.918466
2017-06-02  0.090984  1.167149  0.259144  0.099081
2017-05-30  0.395204  1.092751 -0.286126 -1.132349
2017-04-09 -1.077117  1.068307  1.612338  0.686876
2017-03-14  1.593042  0.974134  0.274854 -2.207133
2017-06-11  1.880632  0.957549 -0.199838  0.317153
2017-05-01 -1.447925  0.926515 -0.190591 -0.361489
2017-04-10  1.381511  0.871956  2.042749 -0.773600
2017-03-26  0.540082  0.790428 -0.138457  0.217651
2017-04-20  1.397247  0.758254  2.685029 -0.182190
2017-05-03 -1.215588  0.748848 -0.024739  3.134975
2017-03-11 -0.642461  0.726549 -0.983053  0.022568
...              ...       ...       ...       ...
2017-04-04  0.991944 -0.231581 -0.230101  0.681551
2017-05-29  0.668351 -0.280464 -2.500271  1.252686
2017-06-15 -0.884793 -0.382621 -0.565265  0.329218
2017-04-02  0.426848 -0.395063  0.032445  1.491196
2017-03-23  0.880897 -0.458286 -1.329063  0.591835
2017-06-07 -0.076965 -0.491162  0.506931  0.506176
2017-05-13  0.081502 -0.503879  0.014560  0.359837
2017-04-21  0.846232 -0.554853 -1.560392  1.371252
2017-03-16  0.504471 -0.604975  1.249009 -0.329755
2017-03-19  1.190062 -0.686335 -1.288669  0.721466
2017-04-01 -0.786808 -0.708116 -0.667216  1.356286
2017-05-06 -2.306561 -0.715095  0.427526  1.465953
2017-03-12 -0.394421 -0.743219  1.250500  0.312310
2017-03-13 -0.479280 -0.811287  0.371920  0.192895
2017-05-18  0.126133 -0.900357 -0.076187  2.451438
2017-04-27  0.111235 -0.990738 -0.228434 -1.098801
2017-04-22 -0.104378 -1.008211 -0.072180 -1.230911
2017-06-06 -0.355684 -1.023888 -0.365277  0.873372
2017-05-15 -1.041948 -1.091710 -2.426792 -0.442112
2017-03-30 -0.553481 -1.168291 -0.467111  1.323276
2017-05-05 -0.541750 -1.209448  1.197896 -0.340600
2017-05-10 -0.421756 -1.215571 -0.223163  1.639782
2017-06-12  0.508111 -1.275609  0.699853 -0.194908
2017-04-13  0.281302 -1.280278 -0.983246  0.973984
2017-04-16  0.042251 -1.348723  0.405307  0.134817
2017-04-15  0.147246 -1.403496 -0.587833  0.083937
2017-05-02 -0.208944 -1.537880  1.966709 -0.051128
2017-03-18 -0.584976 -1.606719 -0.348627  1.644637
2017-04-14 -0.791091 -1.892912  0.702470  0.980169
2017-05-23 -0.279068 -2.641285  2.665435  1.092665

[100 rows x 4 columns]

### Selection

##### Getting

In [53]:
df.A

2017-03-10   -0.178776
2017-03-11   -0.642461
2017-03-12   -0.394421
2017-03-13   -0.479280
2017-03-14    1.593042
2017-03-15   -0.950220
2017-03-16    0.504471
2017-03-17   -0.182371
2017-03-18   -0.584976
2017-03-19    1.190062
2017-03-20   -2.181558
2017-03-21   -2.146628
2017-03-22   -0.596098
2017-03-23    0.880897
2017-03-24    0.542630
2017-03-25   -0.540684
2017-03-26    0.540082
2017-03-27   -0.231066
2017-03-28    0.582931
2017-03-29    0.026827
2017-03-30   -0.553481
2017-03-31    1.953092
2017-04-01   -0.786808
2017-04-02    0.426848
2017-04-03    0.173966
2017-04-04    0.991944
2017-04-05    0.002784
2017-04-06   -0.348132
2017-04-07    0.324946
2017-04-08    0.607592
                ...
2017-05-19   -1.029144
2017-05-20    1.623873
2017-05-21   -0.355646
2017-05-22   -2.339861
2017-05-23   -0.279068
2017-05-24    1.094591
2017-05-25    0.593120
2017-05-26    1.172580
2017-05-27   -1.076265
2017-05-28   -1.391650
2017-05-29    0.668351
2017-05-30    0.395204
2017-05-31   -0.948757
2017-06-01    0.772414
2017-06-02    0.090984
2017-06-03    0.628460
2017-06-04   -0.967106
2017-06-05   -0.892032
2017-06-06   -0.355684
2017-06-07   -0.076965
2017-06-08   -0.148133
2017-06-09   -0.915631
2017-06-10    1.016768
2017-06-11    1.880632
2017-06-12    0.508111
2017-06-13   -0.523600
2017-06-14    0.503406
2017-06-15   -0.884793
2017-06-16    1.314170
2017-06-17   -0.465856
Freq: D, Name: A, dtype: float64

In [54]:
len(df.A)

100

In [56]:
# df["A"]

In [57]:
len(df["A"])

100

In [58]:
df[0:3]

                   A         B         C         D
2017-03-10 -0.178776  0.539217 -0.741046  1.413005
2017-03-11 -0.642461  0.726549 -0.983053  0.022568
2017-03-12 -0.394421 -0.743219  1.250500  0.312310

In [59]:
df['20170310':'20170312']

                   A         B         C         D
2017-03-10 -0.178776  0.539217 -0.741046  1.413005
2017-03-11 -0.642461  0.726549 -0.983053  0.022568
2017-03-12 -0.394421 -0.743219  1.250500  0.312310

##### Selection by Label

In [60]:
dates[0]

Timestamp('2017-03-10 00:00:00', freq='D')

In [63]:
df.loc[dates[0]]

A   -0.178776
B    0.539217
C   -0.741046
D    1.413005
Name: 2017-03-10 00:00:00, dtype: float64

In [64]:
df.loc[:, ['A', 'B']]

                   A         B
2017-03-10 -0.178776  0.539217
2017-03-11 -0.642461  0.726549
2017-03-12 -0.394421 -0.743219
2017-03-13 -0.479280 -0.811287
2017-03-14  1.593042  0.974134
2017-03-15 -0.950220  1.728647
2017-03-16  0.504471 -0.604975
2017-03-17 -0.182371 -0.033787
2017-03-18 -0.584976 -1.606719
2017-03-19  1.190062 -0.686335
2017-03-20 -2.181558  1.889297
2017-03-21 -2.146628  0.373778
2017-03-22 -0.596098  0.069547
2017-03-23  0.880897 -0.458286
2017-03-24  0.542630  1.612486
2017-03-25 -0.540684  0.485637
2017-03-26  0.540082  0.790428
2017-03-27 -0.231066 -0.229335
2017-03-28  0.582931  0.034311
2017-03-29  0.026827  0.095859
2017-03-30 -0.553481 -1.168291
2017-03-31  1.953092  0.180605
2017-04-01 -0.786808 -0.708116
2017-04-02  0.426848 -0.395063
2017-04-03  0.173966  0.718953
2017-04-04  0.991944 -0.231581
2017-04-05  0.002784  1.527573
2017-04-06 -0.348132  0.160847
2017-04-07  0.324946  1.356224
2017-04-08  0.607592  0.362890
...              ...       ...
2017-05-19 -1.029144  0.269069
2017-05-20  1.623873 -0.123789
2017-05-21 -0.355646  0.673927
2017-05-22 -2.339861  2.040201
2017-05-23 -0.279068 -2.641285
2017-05-24  1.094591 -0.091518
2017-05-25  0.593120  1.337313
2017-05-26  1.172580 -0.030742
2017-05-27 -1.076265  0.275512
2017-05-28 -1.391650  0.015380
2017-05-29  0.668351 -0.280464
2017-05-30  0.395204  1.092751
2017-05-31 -0.948757  0.158969
2017-06-01  0.772414  2.741329
2017-06-02  0.090984  1.167149
2017-06-03  0.628460 -0.052603
2017-06-04 -0.967106  0.166264
2017-06-05 -0.892032 -0.165095
2017-06-06 -0.355684 -1.023888
2017-06-07 -0.076965 -0.491162
2017-06-08 -0.148133  1.409515
2017-06-09 -0.915631 -0.167008
2017-06-10  1.016768  1.437786
2017-06-11  1.880632  0.957549
2017-06-12  0.508111 -1.275609
2017-06-13 -0.523600  1.554992
2017-06-14  0.503406  0.067988
2017-06-15 -0.884793 -0.382621
2017-06-16  1.314170  1.562244
2017-06-17 -0.465856  0.653827

[100 rows x 2 columns]

In [70]:
df.loc[:, ['A', 'B']]

                   A         B
2017-03-10 -0.178776  0.539217
2017-03-11 -0.642461  0.726549
2017-03-12 -0.394421 -0.743219
2017-03-13 -0.479280 -0.811287
2017-03-14  1.593042  0.974134
2017-03-15 -0.950220  1.728647
2017-03-16  0.504471 -0.604975
2017-03-17 -0.182371 -0.033787
2017-03-18 -0.584976 -1.606719
2017-03-19  1.190062 -0.686335
2017-03-20 -2.181558  1.889297
2017-03-21 -2.146628  0.373778
2017-03-22 -0.596098  0.069547
2017-03-23  0.880897 -0.458286
2017-03-24  0.542630  1.612486
2017-03-25 -0.540684  0.485637
2017-03-26  0.540082  0.790428
2017-03-27 -0.231066 -0.229335
2017-03-28  0.582931  0.034311
2017-03-29  0.026827  0.095859
2017-03-30 -0.553481 -1.168291
2017-03-31  1.953092  0.180605
2017-04-01 -0.786808 -0.708116
2017-04-02  0.426848 -0.395063
2017-04-03  0.173966  0.718953
2017-04-04  0.991944 -0.231581
2017-04-05  0.002784  1.527573
2017-04-06 -0.348132  0.160847
2017-04-07  0.324946  1.356224
2017-04-08  0.607592  0.362890
...              ...       ...
2017-05-19 -1.029144  0.269069
2017-05-20  1.623873 -0.123789
2017-05-21 -0.355646  0.673927
2017-05-22 -2.339861  2.040201
2017-05-23 -0.279068 -2.641285
2017-05-24  1.094591 -0.091518
2017-05-25  0.593120  1.337313
2017-05-26  1.172580 -0.030742
2017-05-27 -1.076265  0.275512
2017-05-28 -1.391650  0.015380
2017-05-29  0.668351 -0.280464
2017-05-30  0.395204  1.092751
2017-05-31 -0.948757  0.158969
2017-06-01  0.772414  2.741329
2017-06-02  0.090984  1.167149
2017-06-03  0.628460 -0.052603
2017-06-04 -0.967106  0.166264
2017-06-05 -0.892032 -0.165095
2017-06-06 -0.355684 -1.023888
2017-06-07 -0.076965 -0.491162
2017-06-08 -0.148133  1.409515
2017-06-09 -0.915631 -0.167008
2017-06-10  1.016768  1.437786
2017-06-11  1.880632  0.957549
2017-06-12  0.508111 -1.275609
2017-06-13 -0.523600  1.554992
2017-06-14  0.503406  0.067988
2017-06-15 -0.884793 -0.382621
2017-06-16  1.314170  1.562244
2017-06-17 -0.465856  0.653827

[100 rows x 2 columns]

In [72]:
df[0:3].loc[:, ['A', 'B']] # slicing first --> label slicing

                   A         B
2017-03-10 -0.178776  0.539217
2017-03-11 -0.642461  0.726549
2017-03-12 -0.394421 -0.743219

```
Label Slicing
```

In [73]:
df.loc['20170310':'20170312', ['A', 'B']]

                   A         B
2017-03-10 -0.178776  0.539217
2017-03-11 -0.642461  0.726549
2017-03-12 -0.394421 -0.743219

```
Reduction in the dimensions of the returned object
```

In [74]:
df.loc['20170310', ['A', 'B']]

A   -0.178776
B    0.539217
Name: 2017-03-10 00:00:00, dtype: float64

In [79]:
# selecting a label
dates[0]

Timestamp('2017-03-10 00:00:00', freq='D')

```
For getting a scalar value
```

In [77]:
df.loc[dates[0], ['A', 'B']]

A   -0.178776
B    0.539217
Name: 2017-03-10 00:00:00, dtype: float64

In [78]:
df.loc[dates[0], 'A']

-0.17877553329789397

```
For getting fast access to a scalar (equiv to the prior method)
```

In [80]:
df.at?

In [81]:
# Fast label-based scalar accessor
df.at[dates[0], 'A']

-0.17877553329789397

In [82]:
%timeit df.loc[dates[0], 'A']

The slowest run took 4.11 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 179 Âµs per loop

In [83]:
%timeit df.at[dates[0], 'A']

The slowest run took 17.76 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 11.9 Âµs per loop

```
__Selection by Position__
```

```
Select via the position of the passed integers
```

In [94]:
df.iloc[3] # return a label have index == 3

A   -0.479280
B   -0.811287
C    0.371920
D    0.192895
Name: 2017-03-13 00:00:00, dtype: float64

```
integer slices, similar to numpy/python
```

In [90]:
df.iloc[3:5, 0:2] # can use sciling in iloc, not loc, similar to numpy, python style

                   A         B
2017-03-13 -0.479280 -0.811287
2017-03-14  1.593042  0.974134

In [92]:
df.iloc[3:5, 0:3]

                   A         B         C
2017-03-13 -0.479280 -0.811287  0.371920
2017-03-14  1.593042  0.974134  0.274854

In [93]:
df.iloc[3:6, 0:2]

                   A         B
2017-03-13 -0.479280 -0.811287
2017-03-14  1.593042  0.974134
2017-03-15 -0.950220  1.728647

```
lists of integer position locations, similar to the numpy/python style
```

In [95]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2017-03-11 -0.642461 -0.983053
2017-03-12 -0.394421  1.250500
2017-03-14  1.593042  0.274854

```
slicing rows explicitly + slicing columns explicitly
```

In [96]:
df.iloc[1:3, :]

                   A         B         C         D
2017-03-11 -0.642461  0.726549 -0.983053  0.022568
2017-03-12 -0.394421 -0.743219  1.250500  0.312310

In [97]:
df.iloc[0:4, :]

                   A         B         C         D
2017-03-10 -0.178776  0.539217 -0.741046  1.413005
2017-03-11 -0.642461  0.726549 -0.983053  0.022568
2017-03-12 -0.394421 -0.743219  1.250500  0.312310
2017-03-13 -0.479280 -0.811287  0.371920  0.192895

In [98]:
df.iloc[0:4, 1:3]

                   B         C
2017-03-10  0.539217 -0.741046
2017-03-11  0.726549 -0.983053
2017-03-12 -0.743219  1.250500
2017-03-13 -0.811287  0.371920

```
getting a value explicitly
```

In [99]:
df.iloc[1, 1]

0.72654865288896731

In [100]:
df.iloc[[1], [1]]

                   B
2017-03-11  0.726549

In [101]:
df.loc['20170311', 'B']

0.72654865288896731

```
 getting fast access to a scalar (equiv to the prior method)
```

In [102]:
df.iat[1, 1]

0.72654865288896731

In [103]:
%timeit df.iloc[1, 1]

10000 loops, best of 3: 132 Âµs per loop

In [104]:
%timeit df.iat[1, 1]

The slowest run took 13.13 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 5.71 Âµs per loop

```
Boolean Indexing
```

```
Using a single columnâ€™s values to select data.
```

In [106]:
len(df.A)

100

In [107]:
len(df[df.A > 0])

50

```
A where operation for getting.
```

In [108]:
df

                   A         B         C         D
2017-03-10 -0.178776  0.539217 -0.741046  1.413005
2017-03-11 -0.642461  0.726549 -0.983053  0.022568
2017-03-12 -0.394421 -0.743219  1.250500  0.312310
2017-03-13 -0.479280 -0.811287  0.371920  0.192895
2017-03-14  1.593042  0.974134  0.274854 -2.207133
2017-03-15 -0.950220  1.728647 -0.577922  1.007841
2017-03-16  0.504471 -0.604975  1.249009 -0.329755
2017-03-17 -0.182371 -0.033787  1.369554 -1.129134
2017-03-18 -0.584976 -1.606719 -0.348627  1.644637
2017-03-19  1.190062 -0.686335 -1.288669  0.721466
2017-03-20 -2.181558  1.889297  0.191965 -0.324964
2017-03-21 -2.146628  0.373778 -0.757498  0.547423
2017-03-22 -0.596098  0.069547  0.683671 -1.768424
2017-03-23  0.880897 -0.458286 -1.329063  0.591835
2017-03-24  0.542630  1.612486  1.084542  2.573362
2017-03-25 -0.540684  0.485637  0.040470  0.233765
2017-03-26  0.540082  0.790428 -0.138457  0.217651
2017-03-27 -0.231066 -0.229335  0.535707  1.938797
2017-03-28  0.582931  0.034311 -0.475160 -0.402400
2017-03-29  0.026827  0.095859 -0.610001 -0.255637
2017-03-30 -0.553481 -1.168291 -0.467111  1.323276
2017-03-31  1.953092  0.180605 -1.238662  1.407681
2017-04-01 -0.786808 -0.708116 -0.667216  1.356286
2017-04-02  0.426848 -0.395063  0.032445  1.491196
2017-04-03  0.173966  0.718953  1.204138  0.022889
2017-04-04  0.991944 -0.231581 -0.230101  0.681551
2017-04-05  0.002784  1.527573  0.632101  0.813024
2017-04-06 -0.348132  0.160847  0.202606 -0.484877
2017-04-07  0.324946  1.356224 -1.081545 -1.695749
2017-04-08  0.607592  0.362890 -0.272155 -1.562396
...              ...       ...       ...       ...
2017-05-19 -1.029144  0.269069 -0.658276 -0.782932
2017-05-20  1.623873 -0.123789  1.231623  0.711433
2017-05-21 -0.355646  0.673927 -0.218486  1.114147
2017-05-22 -2.339861  2.040201 -0.641177  1.459509
2017-05-23 -0.279068 -2.641285  2.665435  1.092665
2017-05-24  1.094591 -0.091518  1.293394 -0.565312
2017-05-25  0.593120  1.337313  0.102335  0.846915
2017-05-26  1.172580 -0.030742  0.319380 -0.074436
2017-05-27 -1.076265  0.275512  2.049154 -0.259082
2017-05-28 -1.391650  0.015380  2.492998  0.170441
2017-05-29  0.668351 -0.280464 -2.500271  1.252686
2017-05-30  0.395204  1.092751 -0.286126 -1.132349
2017-05-31 -0.948757  0.158969  0.268825  0.931012
2017-06-01  0.772414  2.741329  1.109213 -0.040620
2017-06-02  0.090984  1.167149  0.259144  0.099081
2017-06-03  0.628460 -0.052603  1.423983  0.881851
2017-06-04 -0.967106  0.166264  1.306331  0.298669
2017-06-05 -0.892032 -0.165095 -0.216864 -0.495050
2017-06-06 -0.355684 -1.023888 -0.365277  0.873372
2017-06-07 -0.076965 -0.491162  0.506931  0.506176
2017-06-08 -0.148133  1.409515 -0.042224 -1.176891
2017-06-09 -0.915631 -0.167008  0.041316  0.965342
2017-06-10  1.016768  1.437786 -1.479260 -0.772771
2017-06-11  1.880632  0.957549 -0.199838  0.317153
2017-06-12  0.508111 -1.275609  0.699853 -0.194908
2017-06-13 -0.523600  1.554992 -0.342870  0.969060
2017-06-14  0.503406  0.067988  0.649567  0.090299
2017-06-15 -0.884793 -0.382621 -0.565265  0.329218
2017-06-16  1.314170  1.562244  1.303360 -0.661457
2017-06-17 -0.465856  0.653827 -1.369861 -1.220598

[100 rows x 4 columns]

In [109]:
df[df > 0]

                   A         B         C         D
2017-03-10       NaN  0.539217       NaN  1.413005
2017-03-11       NaN  0.726549       NaN  0.022568
2017-03-12       NaN       NaN  1.250500  0.312310
2017-03-13       NaN       NaN  0.371920  0.192895
2017-03-14  1.593042  0.974134  0.274854       NaN
2017-03-15       NaN  1.728647       NaN  1.007841
2017-03-16  0.504471       NaN  1.249009       NaN
2017-03-17       NaN       NaN  1.369554       NaN
2017-03-18       NaN       NaN       NaN  1.644637
2017-03-19  1.190062       NaN       NaN  0.721466
2017-03-20       NaN  1.889297  0.191965       NaN
2017-03-21       NaN  0.373778       NaN  0.547423
2017-03-22       NaN  0.069547  0.683671       NaN
2017-03-23  0.880897       NaN       NaN  0.591835
2017-03-24  0.542630  1.612486  1.084542  2.573362
2017-03-25       NaN  0.485637  0.040470  0.233765
2017-03-26  0.540082  0.790428       NaN  0.217651
2017-03-27       NaN       NaN  0.535707  1.938797
2017-03-28  0.582931  0.034311       NaN       NaN
2017-03-29  0.026827  0.095859       NaN       NaN
2017-03-30       NaN       NaN       NaN  1.323276
2017-03-31  1.953092  0.180605       NaN  1.407681
2017-04-01       NaN       NaN       NaN  1.356286
2017-04-02  0.426848       NaN  0.032445  1.491196
2017-04-03  0.173966  0.718953  1.204138  0.022889
2017-04-04  0.991944       NaN       NaN  0.681551
2017-04-05  0.002784  1.527573  0.632101  0.813024
2017-04-06       NaN  0.160847  0.202606       NaN
2017-04-07  0.324946  1.356224       NaN       NaN
2017-04-08  0.607592  0.362890       NaN       NaN
...              ...       ...       ...       ...
2017-05-19       NaN  0.269069       NaN       NaN
2017-05-20  1.623873       NaN  1.231623  0.711433
2017-05-21       NaN  0.673927       NaN  1.114147
2017-05-22       NaN  2.040201       NaN  1.459509
2017-05-23       NaN       NaN  2.665435  1.092665
2017-05-24  1.094591       NaN  1.293394       NaN
2017-05-25  0.593120  1.337313  0.102335  0.846915
2017-05-26  1.172580       NaN  0.319380       NaN
2017-05-27       NaN  0.275512  2.049154       NaN
2017-05-28       NaN  0.015380  2.492998  0.170441
2017-05-29  0.668351       NaN       NaN  1.252686
2017-05-30  0.395204  1.092751       NaN       NaN
2017-05-31       NaN  0.158969  0.268825  0.931012
2017-06-01  0.772414  2.741329  1.109213       NaN
2017-06-02  0.090984  1.167149  0.259144  0.099081
2017-06-03  0.628460       NaN  1.423983  0.881851
2017-06-04       NaN  0.166264  1.306331  0.298669
2017-06-05       NaN       NaN       NaN       NaN
2017-06-06       NaN       NaN       NaN  0.873372
2017-06-07       NaN       NaN  0.506931  0.506176
2017-06-08       NaN  1.409515       NaN       NaN
2017-06-09       NaN       NaN  0.041316  0.965342
2017-06-10  1.016768  1.437786       NaN       NaN
2017-06-11  1.880632  0.957549       NaN  0.317153
2017-06-12  0.508111       NaN  0.699853       NaN
2017-06-13       NaN  1.554992       NaN  0.969060
2017-06-14  0.503406  0.067988  0.649567  0.090299
2017-06-15       NaN       NaN       NaN  0.329218
2017-06-16  1.314170  1.562244  1.303360       NaN
2017-06-17       NaN  0.653827       NaN       NaN

[100 rows x 4 columns]

```
Using the isin() method for filtering:
```

In [110]:
df2 = df.copy()

In [115]:
df2['E'] = np.arange(100) # because df contain 100 labels

In [116]:
df2

                   A         B         C         D   E
2017-03-10 -0.178776  0.539217 -0.741046  1.413005   0
2017-03-11 -0.642461  0.726549 -0.983053  0.022568   1
2017-03-12 -0.394421 -0.743219  1.250500  0.312310   2
2017-03-13 -0.479280 -0.811287  0.371920  0.192895   3
2017-03-14  1.593042  0.974134  0.274854 -2.207133   4
2017-03-15 -0.950220  1.728647 -0.577922  1.007841   5
2017-03-16  0.504471 -0.604975  1.249009 -0.329755   6
2017-03-17 -0.182371 -0.033787  1.369554 -1.129134   7
2017-03-18 -0.584976 -1.606719 -0.348627  1.644637   8
2017-03-19  1.190062 -0.686335 -1.288669  0.721466   9
2017-03-20 -2.181558  1.889297  0.191965 -0.324964  10
2017-03-21 -2.146628  0.373778 -0.757498  0.547423  11
2017-03-22 -0.596098  0.069547  0.683671 -1.768424  12
2017-03-23  0.880897 -0.458286 -1.329063  0.591835  13
2017-03-24  0.542630  1.612486  1.084542  2.573362  14
2017-03-25 -0.540684  0.485637  0.040470  0.233765  15
2017-03-26  0.540082  0.790428 -0.138457  0.217651  16
2017-03-27 -0.231066 -0.229335  0.535707  1.938797  17
2017-03-28  0.582931  0.034311 -0.475160 -0.402400  18
2017-03-29  0.026827  0.095859 -0.610001 -0.255637  19
2017-03-30 -0.553481 -1.168291 -0.467111  1.323276  20
2017-03-31  1.953092  0.180605 -1.238662  1.407681  21
2017-04-01 -0.786808 -0.708116 -0.667216  1.356286  22
2017-04-02  0.426848 -0.395063  0.032445  1.491196  23
2017-04-03  0.173966  0.718953  1.204138  0.022889  24
2017-04-04  0.991944 -0.231581 -0.230101  0.681551  25
2017-04-05  0.002784  1.527573  0.632101  0.813024  26
2017-04-06 -0.348132  0.160847  0.202606 -0.484877  27
2017-04-07  0.324946  1.356224 -1.081545 -1.695749  28
2017-04-08  0.607592  0.362890 -0.272155 -1.562396  29
...              ...       ...       ...       ...  ..
2017-05-19 -1.029144  0.269069 -0.658276 -0.782932  70
2017-05-20  1.623873 -0.123789  1.231623  0.711433  71
2017-05-21 -0.355646  0.673927 -0.218486  1.114147  72
2017-05-22 -2.339861  2.040201 -0.641177  1.459509  73
2017-05-23 -0.279068 -2.641285  2.665435  1.092665  74
2017-05-24  1.094591 -0.091518  1.293394 -0.565312  75
2017-05-25  0.593120  1.337313  0.102335  0.846915  76
2017-05-26  1.172580 -0.030742  0.319380 -0.074436  77
2017-05-27 -1.076265  0.275512  2.049154 -0.259082  78
2017-05-28 -1.391650  0.015380  2.492998  0.170441  79
2017-05-29  0.668351 -0.280464 -2.500271  1.252686  80
2017-05-30  0.395204  1.092751 -0.286126 -1.132349  81
2017-05-31 -0.948757  0.158969  0.268825  0.931012  82
2017-06-01  0.772414  2.741329  1.109213 -0.040620  83
2017-06-02  0.090984  1.167149  0.259144  0.099081  84
2017-06-03  0.628460 -0.052603  1.423983  0.881851  85
2017-06-04 -0.967106  0.166264  1.306331  0.298669  86
2017-06-05 -0.892032 -0.165095 -0.216864 -0.495050  87
2017-06-06 -0.355684 -1.023888 -0.365277  0.873372  88
2017-06-07 -0.076965 -0.491162  0.506931  0.506176  89
2017-06-08 -0.148133  1.409515 -0.042224 -1.176891  90
2017-06-09 -0.915631 -0.167008  0.041316  0.965342  91
2017-06-10  1.016768  1.437786 -1.479260 -0.772771  92
2017-06-11  1.880632  0.957549 -0.199838  0.317153  93
2017-06-12  0.508111 -1.275609  0.699853 -0.194908  94
2017-06-13 -0.523600  1.554992 -0.342870  0.969060  95
2017-06-14  0.503406  0.067988  0.649567  0.090299  96
2017-06-15 -0.884793 -0.382621 -0.565265  0.329218  97
2017-06-16  1.314170  1.562244  1.303360 -0.661457  98
2017-06-17 -0.465856  0.653827 -1.369861 -1.220598  99

[100 rows x 5 columns]

In [118]:
df # not view

                   A         B         C         D
2017-03-10 -0.178776  0.539217 -0.741046  1.413005
2017-03-11 -0.642461  0.726549 -0.983053  0.022568
2017-03-12 -0.394421 -0.743219  1.250500  0.312310
2017-03-13 -0.479280 -0.811287  0.371920  0.192895
2017-03-14  1.593042  0.974134  0.274854 -2.207133
2017-03-15 -0.950220  1.728647 -0.577922  1.007841
2017-03-16  0.504471 -0.604975  1.249009 -0.329755
2017-03-17 -0.182371 -0.033787  1.369554 -1.129134
2017-03-18 -0.584976 -1.606719 -0.348627  1.644637
2017-03-19  1.190062 -0.686335 -1.288669  0.721466
2017-03-20 -2.181558  1.889297  0.191965 -0.324964
2017-03-21 -2.146628  0.373778 -0.757498  0.547423
2017-03-22 -0.596098  0.069547  0.683671 -1.768424
2017-03-23  0.880897 -0.458286 -1.329063  0.591835
2017-03-24  0.542630  1.612486  1.084542  2.573362
2017-03-25 -0.540684  0.485637  0.040470  0.233765
2017-03-26  0.540082  0.790428 -0.138457  0.217651
2017-03-27 -0.231066 -0.229335  0.535707  1.938797
2017-03-28  0.582931  0.034311 -0.475160 -0.402400
2017-03-29  0.026827  0.095859 -0.610001 -0.255637
2017-03-30 -0.553481 -1.168291 -0.467111  1.323276
2017-03-31  1.953092  0.180605 -1.238662  1.407681
2017-04-01 -0.786808 -0.708116 -0.667216  1.356286
2017-04-02  0.426848 -0.395063  0.032445  1.491196
2017-04-03  0.173966  0.718953  1.204138  0.022889
2017-04-04  0.991944 -0.231581 -0.230101  0.681551
2017-04-05  0.002784  1.527573  0.632101  0.813024
2017-04-06 -0.348132  0.160847  0.202606 -0.484877
2017-04-07  0.324946  1.356224 -1.081545 -1.695749
2017-04-08  0.607592  0.362890 -0.272155 -1.562396
...              ...       ...       ...       ...
2017-05-19 -1.029144  0.269069 -0.658276 -0.782932
2017-05-20  1.623873 -0.123789  1.231623  0.711433
2017-05-21 -0.355646  0.673927 -0.218486  1.114147
2017-05-22 -2.339861  2.040201 -0.641177  1.459509
2017-05-23 -0.279068 -2.641285  2.665435  1.092665
2017-05-24  1.094591 -0.091518  1.293394 -0.565312
2017-05-25  0.593120  1.337313  0.102335  0.846915
2017-05-26  1.172580 -0.030742  0.319380 -0.074436
2017-05-27 -1.076265  0.275512  2.049154 -0.259082
2017-05-28 -1.391650  0.015380  2.492998  0.170441
2017-05-29  0.668351 -0.280464 -2.500271  1.252686
2017-05-30  0.395204  1.092751 -0.286126 -1.132349
2017-05-31 -0.948757  0.158969  0.268825  0.931012
2017-06-01  0.772414  2.741329  1.109213 -0.040620
2017-06-02  0.090984  1.167149  0.259144  0.099081
2017-06-03  0.628460 -0.052603  1.423983  0.881851
2017-06-04 -0.967106  0.166264  1.306331  0.298669
2017-06-05 -0.892032 -0.165095 -0.216864 -0.495050
2017-06-06 -0.355684 -1.023888 -0.365277  0.873372
2017-06-07 -0.076965 -0.491162  0.506931  0.506176
2017-06-08 -0.148133  1.409515 -0.042224 -1.176891
2017-06-09 -0.915631 -0.167008  0.041316  0.965342
2017-06-10  1.016768  1.437786 -1.479260 -0.772771
2017-06-11  1.880632  0.957549 -0.199838  0.317153
2017-06-12  0.508111 -1.275609  0.699853 -0.194908
2017-06-13 -0.523600  1.554992 -0.342870  0.969060
2017-06-14  0.503406  0.067988  0.649567  0.090299
2017-06-15 -0.884793 -0.382621 -0.565265  0.329218
2017-06-16  1.314170  1.562244  1.303360 -0.661457
2017-06-17 -0.465856  0.653827 -1.369861 -1.220598

[100 rows x 4 columns]

In [120]:
df2[df2['E'].isin([0, 2, 4, 99])]

                   A         B         C         D   E
2017-03-10 -0.178776  0.539217 -0.741046  1.413005   0
2017-03-12 -0.394421 -0.743219  1.250500  0.312310   2
2017-03-14  1.593042  0.974134  0.274854 -2.207133   4
2017-06-17 -0.465856  0.653827 -1.369861 -1.220598  99

##### Setting

```
Setting a new column automatically aligns the data by the indexes
```

In [123]:
s1 = pd.Series(np.arange(100), index=pd.date_range('20170310', periods=100))
s1

2017-03-10     0
2017-03-11     1
2017-03-12     2
2017-03-13     3
2017-03-14     4
2017-03-15     5
2017-03-16     6
2017-03-17     7
2017-03-18     8
2017-03-19     9
2017-03-20    10
2017-03-21    11
2017-03-22    12
2017-03-23    13
2017-03-24    14
2017-03-25    15
2017-03-26    16
2017-03-27    17
2017-03-28    18
2017-03-29    19
2017-03-30    20
2017-03-31    21
2017-04-01    22
2017-04-02    23
2017-04-03    24
2017-04-04    25
2017-04-05    26
2017-04-06    27
2017-04-07    28
2017-04-08    29
              ..
2017-05-19    70
2017-05-20    71
2017-05-21    72
2017-05-22    73
2017-05-23    74
2017-05-24    75
2017-05-25    76
2017-05-26    77
2017-05-27    78
2017-05-28    79
2017-05-29    80
2017-05-30    81
2017-05-31    82
2017-06-01    83
2017-06-02    84
2017-06-03    85
2017-06-04    86
2017-06-05    87
2017-06-06    88
2017-06-07    89
2017-06-08    90
2017-06-09    91
2017-06-10    92
2017-06-11    93
2017-06-12    94
2017-06-13    95
2017-06-14    96
2017-06-15    97
2017-06-16    98
2017-06-17    99
Freq: D, dtype: int64

In [124]:
df['F'] = s1

In [125]:
df

                   A         B         C         D   F
2017-03-10 -0.178776  0.539217 -0.741046  1.413005   0
2017-03-11 -0.642461  0.726549 -0.983053  0.022568   1
2017-03-12 -0.394421 -0.743219  1.250500  0.312310   2
2017-03-13 -0.479280 -0.811287  0.371920  0.192895   3
2017-03-14  1.593042  0.974134  0.274854 -2.207133   4
2017-03-15 -0.950220  1.728647 -0.577922  1.007841   5
2017-03-16  0.504471 -0.604975  1.249009 -0.329755   6
2017-03-17 -0.182371 -0.033787  1.369554 -1.129134   7
2017-03-18 -0.584976 -1.606719 -0.348627  1.644637   8
2017-03-19  1.190062 -0.686335 -1.288669  0.721466   9
2017-03-20 -2.181558  1.889297  0.191965 -0.324964  10
2017-03-21 -2.146628  0.373778 -0.757498  0.547423  11
2017-03-22 -0.596098  0.069547  0.683671 -1.768424  12
2017-03-23  0.880897 -0.458286 -1.329063  0.591835  13
2017-03-24  0.542630  1.612486  1.084542  2.573362  14
2017-03-25 -0.540684  0.485637  0.040470  0.233765  15
2017-03-26  0.540082  0.790428 -0.138457  0.217651  16
2017-03-27 -0.231066 -0.229335  0.535707  1.938797  17
2017-03-28  0.582931  0.034311 -0.475160 -0.402400  18
2017-03-29  0.026827  0.095859 -0.610001 -0.255637  19
2017-03-30 -0.553481 -1.168291 -0.467111  1.323276  20
2017-03-31  1.953092  0.180605 -1.238662  1.407681  21
2017-04-01 -0.786808 -0.708116 -0.667216  1.356286  22
2017-04-02  0.426848 -0.395063  0.032445  1.491196  23
2017-04-03  0.173966  0.718953  1.204138  0.022889  24
2017-04-04  0.991944 -0.231581 -0.230101  0.681551  25
2017-04-05  0.002784  1.527573  0.632101  0.813024  26
2017-04-06 -0.348132  0.160847  0.202606 -0.484877  27
2017-04-07  0.324946  1.356224 -1.081545 -1.695749  28
2017-04-08  0.607592  0.362890 -0.272155 -1.562396  29
...              ...       ...       ...       ...  ..
2017-05-19 -1.029144  0.269069 -0.658276 -0.782932  70
2017-05-20  1.623873 -0.123789  1.231623  0.711433  71
2017-05-21 -0.355646  0.673927 -0.218486  1.114147  72
2017-05-22 -2.339861  2.040201 -0.641177  1.459509  73
2017-05-23 -0.279068 -2.641285  2.665435  1.092665  74
2017-05-24  1.094591 -0.091518  1.293394 -0.565312  75
2017-05-25  0.593120  1.337313  0.102335  0.846915  76
2017-05-26  1.172580 -0.030742  0.319380 -0.074436  77
2017-05-27 -1.076265  0.275512  2.049154 -0.259082  78
2017-05-28 -1.391650  0.015380  2.492998  0.170441  79
2017-05-29  0.668351 -0.280464 -2.500271  1.252686  80
2017-05-30  0.395204  1.092751 -0.286126 -1.132349  81
2017-05-31 -0.948757  0.158969  0.268825  0.931012  82
2017-06-01  0.772414  2.741329  1.109213 -0.040620  83
2017-06-02  0.090984  1.167149  0.259144  0.099081  84
2017-06-03  0.628460 -0.052603  1.423983  0.881851  85
2017-06-04 -0.967106  0.166264  1.306331  0.298669  86
2017-06-05 -0.892032 -0.165095 -0.216864 -0.495050  87
2017-06-06 -0.355684 -1.023888 -0.365277  0.873372  88
2017-06-07 -0.076965 -0.491162  0.506931  0.506176  89
2017-06-08 -0.148133  1.409515 -0.042224 -1.176891  90
2017-06-09 -0.915631 -0.167008  0.041316  0.965342  91
2017-06-10  1.016768  1.437786 -1.479260 -0.772771  92
2017-06-11  1.880632  0.957549 -0.199838  0.317153  93
2017-06-12  0.508111 -1.275609  0.699853 -0.194908  94
2017-06-13 -0.523600  1.554992 -0.342870  0.969060  95
2017-06-14  0.503406  0.067988  0.649567  0.090299  96
2017-06-15 -0.884793 -0.382621 -0.565265  0.329218  97
2017-06-16  1.314170  1.562244  1.303360 -0.661457  98
2017-06-17 -0.465856  0.653827 -1.369861 -1.220598  99

[100 rows x 5 columns]

```
Setting values by label
```

In [126]:
df.at[dates[0], 'A'] = 0

In [127]:
df.loc['20170310', 'A']

0.0

In [132]:
df.at[dates[0], 'A']

0.0

```
Setting values by position


```

In [133]:
df.iat[0, 1] = 0

In [134]:
df.loc['20170310', 'B']

0.0

In [136]:
df.at[dates[0], 'B']

0.0

```
Setting by assigning with a numpy array
```

In [137]:
df.loc[:, 'D'] = np.array([5] * len(df))

In [138]:
df

                   A         B         C  D   F
2017-03-10  0.000000  0.000000 -0.741046  5   0
2017-03-11 -0.642461  0.726549 -0.983053  5   1
2017-03-12 -0.394421 -0.743219  1.250500  5   2
2017-03-13 -0.479280 -0.811287  0.371920  5   3
2017-03-14  1.593042  0.974134  0.274854  5   4
2017-03-15 -0.950220  1.728647 -0.577922  5   5
2017-03-16  0.504471 -0.604975  1.249009  5   6
2017-03-17 -0.182371 -0.033787  1.369554  5   7
2017-03-18 -0.584976 -1.606719 -0.348627  5   8
2017-03-19  1.190062 -0.686335 -1.288669  5   9
2017-03-20 -2.181558  1.889297  0.191965  5  10
2017-03-21 -2.146628  0.373778 -0.757498  5  11
2017-03-22 -0.596098  0.069547  0.683671  5  12
2017-03-23  0.880897 -0.458286 -1.329063  5  13
2017-03-24  0.542630  1.612486  1.084542  5  14
2017-03-25 -0.540684  0.485637  0.040470  5  15
2017-03-26  0.540082  0.790428 -0.138457  5  16
2017-03-27 -0.231066 -0.229335  0.535707  5  17
2017-03-28  0.582931  0.034311 -0.475160  5  18
2017-03-29  0.026827  0.095859 -0.610001  5  19
2017-03-30 -0.553481 -1.168291 -0.467111  5  20
2017-03-31  1.953092  0.180605 -1.238662  5  21
2017-04-01 -0.786808 -0.708116 -0.667216  5  22
2017-04-02  0.426848 -0.395063  0.032445  5  23
2017-04-03  0.173966  0.718953  1.204138  5  24
2017-04-04  0.991944 -0.231581 -0.230101  5  25
2017-04-05  0.002784  1.527573  0.632101  5  26
2017-04-06 -0.348132  0.160847  0.202606  5  27
2017-04-07  0.324946  1.356224 -1.081545  5  28
2017-04-08  0.607592  0.362890 -0.272155  5  29
...              ...       ...       ... ..  ..
2017-05-19 -1.029144  0.269069 -0.658276  5  70
2017-05-20  1.623873 -0.123789  1.231623  5  71
2017-05-21 -0.355646  0.673927 -0.218486  5  72
2017-05-22 -2.339861  2.040201 -0.641177  5  73
2017-05-23 -0.279068 -2.641285  2.665435  5  74
2017-05-24  1.094591 -0.091518  1.293394  5  75
2017-05-25  0.593120  1.337313  0.102335  5  76
2017-05-26  1.172580 -0.030742  0.319380  5  77
2017-05-27 -1.076265  0.275512  2.049154  5  78
2017-05-28 -1.391650  0.015380  2.492998  5  79
2017-05-29  0.668351 -0.280464 -2.500271  5  80
2017-05-30  0.395204  1.092751 -0.286126  5  81
2017-05-31 -0.948757  0.158969  0.268825  5  82
2017-06-01  0.772414  2.741329  1.109213  5  83
2017-06-02  0.090984  1.167149  0.259144  5  84
2017-06-03  0.628460 -0.052603  1.423983  5  85
2017-06-04 -0.967106  0.166264  1.306331  5  86
2017-06-05 -0.892032 -0.165095 -0.216864  5  87
2017-06-06 -0.355684 -1.023888 -0.365277  5  88
2017-06-07 -0.076965 -0.491162  0.506931  5  89
2017-06-08 -0.148133  1.409515 -0.042224  5  90
2017-06-09 -0.915631 -0.167008  0.041316  5  91
2017-06-10  1.016768  1.437786 -1.479260  5  92
2017-06-11  1.880632  0.957549 -0.199838  5  93
2017-06-12  0.508111 -1.275609  0.699853  5  94
2017-06-13 -0.523600  1.554992 -0.342870  5  95
2017-06-14  0.503406  0.067988  0.649567  5  96
2017-06-15 -0.884793 -0.382621 -0.565265  5  97
2017-06-16  1.314170  1.562244  1.303360  5  98
2017-06-17 -0.465856  0.653827 -1.369861  5  99

[100 rows x 5 columns]

```
A where operation with setting.
```

In [139]:
df2 = df.copy()

In [140]:
df2

                   A         B         C  D   F
2017-03-10  0.000000  0.000000 -0.741046  5   0
2017-03-11 -0.642461  0.726549 -0.983053  5   1
2017-03-12 -0.394421 -0.743219  1.250500  5   2
2017-03-13 -0.479280 -0.811287  0.371920  5   3
2017-03-14  1.593042  0.974134  0.274854  5   4
2017-03-15 -0.950220  1.728647 -0.577922  5   5
2017-03-16  0.504471 -0.604975  1.249009  5   6
2017-03-17 -0.182371 -0.033787  1.369554  5   7
2017-03-18 -0.584976 -1.606719 -0.348627  5   8
2017-03-19  1.190062 -0.686335 -1.288669  5   9
2017-03-20 -2.181558  1.889297  0.191965  5  10
2017-03-21 -2.146628  0.373778 -0.757498  5  11
2017-03-22 -0.596098  0.069547  0.683671  5  12
2017-03-23  0.880897 -0.458286 -1.329063  5  13
2017-03-24  0.542630  1.612486  1.084542  5  14
2017-03-25 -0.540684  0.485637  0.040470  5  15
2017-03-26  0.540082  0.790428 -0.138457  5  16
2017-03-27 -0.231066 -0.229335  0.535707  5  17
2017-03-28  0.582931  0.034311 -0.475160  5  18
2017-03-29  0.026827  0.095859 -0.610001  5  19
2017-03-30 -0.553481 -1.168291 -0.467111  5  20
2017-03-31  1.953092  0.180605 -1.238662  5  21
2017-04-01 -0.786808 -0.708116 -0.667216  5  22
2017-04-02  0.426848 -0.395063  0.032445  5  23
2017-04-03  0.173966  0.718953  1.204138  5  24
2017-04-04  0.991944 -0.231581 -0.230101  5  25
2017-04-05  0.002784  1.527573  0.632101  5  26
2017-04-06 -0.348132  0.160847  0.202606  5  27
2017-04-07  0.324946  1.356224 -1.081545  5  28
2017-04-08  0.607592  0.362890 -0.272155  5  29
...              ...       ...       ... ..  ..
2017-05-19 -1.029144  0.269069 -0.658276  5  70
2017-05-20  1.623873 -0.123789  1.231623  5  71
2017-05-21 -0.355646  0.673927 -0.218486  5  72
2017-05-22 -2.339861  2.040201 -0.641177  5  73
2017-05-23 -0.279068 -2.641285  2.665435  5  74
2017-05-24  1.094591 -0.091518  1.293394  5  75
2017-05-25  0.593120  1.337313  0.102335  5  76
2017-05-26  1.172580 -0.030742  0.319380  5  77
2017-05-27 -1.076265  0.275512  2.049154  5  78
2017-05-28 -1.391650  0.015380  2.492998  5  79
2017-05-29  0.668351 -0.280464 -2.500271  5  80
2017-05-30  0.395204  1.092751 -0.286126  5  81
2017-05-31 -0.948757  0.158969  0.268825  5  82
2017-06-01  0.772414  2.741329  1.109213  5  83
2017-06-02  0.090984  1.167149  0.259144  5  84
2017-06-03  0.628460 -0.052603  1.423983  5  85
2017-06-04 -0.967106  0.166264  1.306331  5  86
2017-06-05 -0.892032 -0.165095 -0.216864  5  87
2017-06-06 -0.355684 -1.023888 -0.365277  5  88
2017-06-07 -0.076965 -0.491162  0.506931  5  89
2017-06-08 -0.148133  1.409515 -0.042224  5  90
2017-06-09 -0.915631 -0.167008  0.041316  5  91
2017-06-10  1.016768  1.437786 -1.479260  5  92
2017-06-11  1.880632  0.957549 -0.199838  5  93
2017-06-12  0.508111 -1.275609  0.699853  5  94
2017-06-13 -0.523600  1.554992 -0.342870  5  95
2017-06-14  0.503406  0.067988  0.649567  5  96
2017-06-15 -0.884793 -0.382621 -0.565265  5  97
2017-06-16  1.314170  1.562244  1.303360  5  98
2017-06-17 -0.465856  0.653827 -1.369861  5  99

[100 rows x 5 columns]

In [141]:
df2[df2 > 0] = -df2
df2

                   A         B         C  D   F
2017-03-10  0.000000  0.000000 -0.741046 -5   0
2017-03-11 -0.642461 -0.726549 -0.983053 -5  -1
2017-03-12 -0.394421 -0.743219 -1.250500 -5  -2
2017-03-13 -0.479280 -0.811287 -0.371920 -5  -3
2017-03-14 -1.593042 -0.974134 -0.274854 -5  -4
2017-03-15 -0.950220 -1.728647 -0.577922 -5  -5
2017-03-16 -0.504471 -0.604975 -1.249009 -5  -6
2017-03-17 -0.182371 -0.033787 -1.369554 -5  -7
2017-03-18 -0.584976 -1.606719 -0.348627 -5  -8
2017-03-19 -1.190062 -0.686335 -1.288669 -5  -9
2017-03-20 -2.181558 -1.889297 -0.191965 -5 -10
2017-03-21 -2.146628 -0.373778 -0.757498 -5 -11
2017-03-22 -0.596098 -0.069547 -0.683671 -5 -12
2017-03-23 -0.880897 -0.458286 -1.329063 -5 -13
2017-03-24 -0.542630 -1.612486 -1.084542 -5 -14
2017-03-25 -0.540684 -0.485637 -0.040470 -5 -15
2017-03-26 -0.540082 -0.790428 -0.138457 -5 -16
2017-03-27 -0.231066 -0.229335 -0.535707 -5 -17
2017-03-28 -0.582931 -0.034311 -0.475160 -5 -18
2017-03-29 -0.026827 -0.095859 -0.610001 -5 -19
2017-03-30 -0.553481 -1.168291 -0.467111 -5 -20
2017-03-31 -1.953092 -0.180605 -1.238662 -5 -21
2017-04-01 -0.786808 -0.708116 -0.667216 -5 -22
2017-04-02 -0.426848 -0.395063 -0.032445 -5 -23
2017-04-03 -0.173966 -0.718953 -1.204138 -5 -24
2017-04-04 -0.991944 -0.231581 -0.230101 -5 -25
2017-04-05 -0.002784 -1.527573 -0.632101 -5 -26
2017-04-06 -0.348132 -0.160847 -0.202606 -5 -27
2017-04-07 -0.324946 -1.356224 -1.081545 -5 -28
2017-04-08 -0.607592 -0.362890 -0.272155 -5 -29
...              ...       ...       ... ..  ..
2017-05-19 -1.029144 -0.269069 -0.658276 -5 -70
2017-05-20 -1.623873 -0.123789 -1.231623 -5 -71
2017-05-21 -0.355646 -0.673927 -0.218486 -5 -72
2017-05-22 -2.339861 -2.040201 -0.641177 -5 -73
2017-05-23 -0.279068 -2.641285 -2.665435 -5 -74
2017-05-24 -1.094591 -0.091518 -1.293394 -5 -75
2017-05-25 -0.593120 -1.337313 -0.102335 -5 -76
2017-05-26 -1.172580 -0.030742 -0.319380 -5 -77
2017-05-27 -1.076265 -0.275512 -2.049154 -5 -78
2017-05-28 -1.391650 -0.015380 -2.492998 -5 -79
2017-05-29 -0.668351 -0.280464 -2.500271 -5 -80
2017-05-30 -0.395204 -1.092751 -0.286126 -5 -81
2017-05-31 -0.948757 -0.158969 -0.268825 -5 -82
2017-06-01 -0.772414 -2.741329 -1.109213 -5 -83
2017-06-02 -0.090984 -1.167149 -0.259144 -5 -84
2017-06-03 -0.628460 -0.052603 -1.423983 -5 -85
2017-06-04 -0.967106 -0.166264 -1.306331 -5 -86
2017-06-05 -0.892032 -0.165095 -0.216864 -5 -87
2017-06-06 -0.355684 -1.023888 -0.365277 -5 -88
2017-06-07 -0.076965 -0.491162 -0.506931 -5 -89
2017-06-08 -0.148133 -1.409515 -0.042224 -5 -90
2017-06-09 -0.915631 -0.167008 -0.041316 -5 -91
2017-06-10 -1.016768 -1.437786 -1.479260 -5 -92
2017-06-11 -1.880632 -0.957549 -0.199838 -5 -93
2017-06-12 -0.508111 -1.275609 -0.699853 -5 -94
2017-06-13 -0.523600 -1.554992 -0.342870 -5 -95
2017-06-14 -0.503406 -0.067988 -0.649567 -5 -96
2017-06-15 -0.884793 -0.382621 -0.565265 -5 -97
2017-06-16 -1.314170 -1.562244 -1.303360 -5 -98
2017-06-17 -0.465856 -0.653827 -1.369861 -5 -99

[100 rows x 5 columns]

### Missing Data