In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/rasbt/python_reference/master/Data/some_soccer_data.csv'
df = pd.read_csv(url)
df

,PLAYER,SALARY,GP,G,A,SOT,PPG,P
0,Sergio Agüero\n Forward — Manchester City,$19.2m,16.0,14,3.0,34,13.12,209.98
1,Eden Hazard\n Midfield — Chelsea,$18.9m,21.0,8,4.0,17,13.05,274.04
2,Alexis Sánchez\n Forward — Arsenal,$17.6m,NaN,12,7.0,29,11.19,223.86
3,Yaya Touré\n Midfield — Manchester City,$16.6m,18.0,7,1.0,19,10.99,197.91
4,Ángel Di María\n Midfield — Manchester United,$15.0m,13.0,3,NaN,13,10.17,132.23
5,Santiago Cazorla\n Midfield — Arsenal,$14.8m,20.0,4,NaN,20,9.97,NaN
6,David Silva\n Midfield — Manchester City,$14.3m,15.0,6,2.0,11,10.35,155.26
7,Cesc Fàbregas\n Midfield — Chelsea,$14.0m,20.0,2,14.0,10,10.47,209.49
8,Saido Berahino\n Forward — West Brom,$13.8m,21.0,9,0.0,20,7.02,147.43
9,Steven Gerrard\n Midfield — Liverpool,$13.8m,20.0,5,1.0,11,7.50,150.01

In [3]:
df2 = pd.read_table(url)
df2

                      PLAYER,SALARY,GP,G,A,SOT,PPG,P
0  Sergio Agüero\n Forward — Manchester City,$19....
1  Eden Hazard\n Midfield — Chelsea,$18.9m,21,8,4...
2  Alexis Sánchez\n Forward — Arsenal,$17.6m,,12,...
3  Yaya Touré\n Midfield — Manchester City,$16.6m...
4  Ángel Di María\n Midfield — Manchester United,...
5  Santiago Cazorla\n Midfield — Arsenal,$14.8m,2...
6  David Silva\n Midfield — Manchester City,$14.3...
7  Cesc Fàbregas\n Midfield — Chelsea,$14.0m,20,2...
8  Saido Berahino\n Forward — West Brom,$13.8m,21...
9  Steven Gerrard\n Midfield — Liverpool,$13.8m,2...

# Renaming Columns

In [4]:
df.columns

Index(['PLAYER', 'SALARY', 'GP', 'G', 'A', 'SOT', 'PPG', 'P'], dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [6]:
df.values

array([['Sergio Agüero\n Forward — Manchester City', '$19.2m', 16.0, 14,
        3.0, 34, 13.12, 209.98],
       ['Eden Hazard\n Midfield — Chelsea', '$18.9m', 21.0, 8, 4.0, 17,
        13.05, 274.04],
       ['Alexis Sánchez\n Forward — Arsenal', '$17.6m', nan, 12, 7.0, 29,
        11.19, 223.86],
       ['Yaya Touré\n Midfield — Manchester City', '$16.6m', 18.0, 7, 1.0,
        19, 10.99, 197.91],
       ['Ángel Di María\n Midfield — Manchester United', '$15.0m', 13.0, 3,
        nan, 13, 10.17, 132.23],
       ['Santiago Cazorla\n Midfield — Arsenal', '$14.8m', 20.0, 4, nan,
        20, 9.97, nan],
       ['David Silva\n Midfield — Manchester City', '$14.3m', 15.0, 6, 2.0,
        11, 10.35, 155.26],
       ['Cesc Fàbregas\n Midfield — Chelsea', '$14.0m', 20.0, 2, 14.0, 10,
        10.47, 209.49],
       ['Saido Berahino\n Forward — West Brom', '$13.8m', 21.0, 9, 0.0, 20,
        7.02, 147.43],
       ['Steven Gerrard\n Midfield — Liverpool', '$13.8m', 20.0, 5, 1.0,
        11, 7.5, 150.01]], dtype=object)

In [7]:
df.columns = [c.lower() for c in df.columns]

# or 
# df.rename(columns=lambda x: x.lower())
df.head(5)

,player,salary,gp,g,a,sot,ppg,p
0,Sergio Agüero\n Forward — Manchester City,$19.2m,16.0,14,3.0,34,13.12,209.98
1,Eden Hazard\n Midfield — Chelsea,$18.9m,21.0,8,4.0,17,13.05,274.04
2,Alexis Sánchez\n Forward — Arsenal,$17.6m,NaN,12,7.0,29,11.19,223.86
3,Yaya Touré\n Midfield — Manchester City,$16.6m,18.0,7,1.0,19,10.99,197.91
4,Ángel Di María\n Midfield — Manchester United,$15.0m,13.0,3,NaN,13,10.17,132.23

### Renaming Particular Columns

In [9]:
df = df.rename(columns={
    'p': 'points',
    'gp': 'games',
    'sot': 'shot_on_target',
    'g': 'goals',
    'ppg': 'point_per_game',
    'a': 'assists',
}); df.head(5)

,player,salary,games,goals,assists,shot_on_target,point_per_game,points
0,Sergio Agüero\n Forward — Manchester City,$19.2m,16.0,14,3.0,34,13.12,209.98
1,Eden Hazard\n Midfield — Chelsea,$18.9m,21.0,8,4.0,17,13.05,274.04
2,Alexis Sánchez\n Forward — Arsenal,$17.6m,NaN,12,7.0,29,11.19,223.86
3,Yaya Touré\n Midfield — Manchester City,$16.6m,18.0,7,1.0,19,10.99,197.91
4,Ángel Di María\n Midfield — Manchester United,$15.0m,13.0,3,NaN,13,10.17,132.23

# Applying Computations Rows-wise

### Changing Values in a Column

In [10]:
df['salary'] = df['salary'].apply(lambda x: x.strip('$m'))
df.head(5)

,player,salary,games,goals,assists,shot_on_target,point_per_game,points
0,Sergio Agüero\n Forward — Manchester City,19.2,16.0,14,3.0,34,13.12,209.98
1,Eden Hazard\n Midfield — Chelsea,18.9,21.0,8,4.0,17,13.05,274.04
2,Alexis Sánchez\n Forward — Arsenal,17.6,NaN,12,7.0,29,11.19,223.86
3,Yaya Touré\n Midfield — Manchester City,16.6,18.0,7,1.0,19,10.99,197.91
4,Ángel Di María\n Midfield — Manchester United,15.0,13.0,3,NaN,13,10.17,132.23

### Adding a New Column

In [11]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [13]:
a = pd.Series('', index=df.index); a, type(a)

(0
 1
 2
 3
 4
 5
 6
 7
 8
 9
 dtype: object, pandas.core.series.Series)

In [15]:
df['team'] = pd.Series('', index=df.index)
# or
df.insert(loc=8, column='position', value='')
df.head(5)

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,Sergio Agüero\n Forward — Manchester City,19.2,16.0,14,3.0,34,13.12,209.98,,
1,Eden Hazard\n Midfield — Chelsea,18.9,21.0,8,4.0,17,13.05,274.04,,
2,Alexis Sánchez\n Forward — Arsenal,17.6,NaN,12,7.0,29,11.19,223.86,,
3,Yaya Touré\n Midfield — Manchester City,16.6,18.0,7,1.0,19,10.99,197.91,,
4,Ángel Di María\n Midfield — Manchester United,15.0,13.0,3,NaN,13,10.17,132.23,,

In [16]:
def process_player_col(text):
    name, rest = text.split('\n')
    position, team = [x.strip() for x in rest.split(' — ')]
    return pd.Series([name, team, position])

df[['player', 'team', 'position']]

                                          player team position
0      Sergio Agüero\n Forward — Manchester City
1               Eden Hazard\n Midfield — Chelsea
2             Alexis Sánchez\n Forward — Arsenal
3        Yaya Touré\n Midfield — Manchester City
4  Ángel Di María\n Midfield — Manchester United
5          Santiago Cazorla\n Midfield — Arsenal
6       David Silva\n Midfield — Manchester City
7             Cesc Fàbregas\n Midfield — Chelsea
8           Saido Berahino\n Forward — West Brom
9          Steven Gerrard\n Midfield — Liverpool

In [17]:
df[['player', 'team', 'position']] = df.player.apply(process_player_col); df.head(5)

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,Sergio Agüero,19.2,16.0,14,3.0,34,13.12,209.98,Forward,Manchester City
1,Eden Hazard,18.9,21.0,8,4.0,17,13.05,274.04,Midfield,Chelsea
2,Alexis Sánchez,17.6,NaN,12,7.0,29,11.19,223.86,Forward,Arsenal
3,Yaya Touré,16.6,18.0,7,1.0,19,10.99,197.91,Midfield,Manchester City
4,Ángel Di María,15.0,13.0,3,NaN,13,10.17,132.23,Midfield,Manchester United

### Applying Functions to Multiple Columns

In [18]:
cols = ['player', 'position', 'team']
df[cols] = df[cols].applymap(lambda x: x.lower()); df.head(5)

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,sergio agüero,19.2,16.0,14,3.0,34,13.12,209.98,forward,manchester city
1,eden hazard,18.9,21.0,8,4.0,17,13.05,274.04,midfield,chelsea
2,alexis sánchez,17.6,NaN,12,7.0,29,11.19,223.86,forward,arsenal
3,yaya touré,16.6,18.0,7,1.0,19,10.99,197.91,midfield,manchester city
4,ángel di maría,15.0,13.0,3,NaN,13,10.17,132.23,midfield,manchester united

# Missing Values aka NaNs

### Counting Rows with NaNs

In [20]:
df.shape

(10, 10)

In [23]:
df.shape[0]

10

In [24]:
df

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,sergio agüero,19.2,16.0,14,3.0,34,13.12,209.98,forward,manchester city
1,eden hazard,18.9,21.0,8,4.0,17,13.05,274.04,midfield,chelsea
2,alexis sánchez,17.6,NaN,12,7.0,29,11.19,223.86,forward,arsenal
3,yaya touré,16.6,18.0,7,1.0,19,10.99,197.91,midfield,manchester city
4,ángel di maría,15.0,13.0,3,NaN,13,10.17,132.23,midfield,manchester united
5,santiago cazorla,14.8,20.0,4,NaN,20,9.97,NaN,midfield,arsenal
6,david silva,14.3,15.0,6,2.0,11,10.35,155.26,midfield,manchester city
7,cesc fàbregas,14.0,20.0,2,14.0,10,10.47,209.49,midfield,chelsea
8,saido berahino,13.8,21.0,9,0.0,20,7.02,147.43,forward,west brom
9,steven gerrard,13.8,20.0,5,1.0,11,7.50,150.01,midfield,liverpool

In [22]:
df.dropna()

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,sergio agüero,19.2,16.0,14,3.0,34,13.12,209.98,forward,manchester city
1,eden hazard,18.9,21.0,8,4.0,17,13.05,274.04,midfield,chelsea
3,yaya touré,16.6,18.0,7,1.0,19,10.99,197.91,midfield,manchester city
6,david silva,14.3,15.0,6,2.0,11,10.35,155.26,midfield,manchester city
7,cesc fàbregas,14.0,20.0,2,14.0,10,10.47,209.49,midfield,chelsea
8,saido berahino,13.8,21.0,9,0.0,20,7.02,147.43,forward,west brom
9,steven gerrard,13.8,20.0,5,1.0,11,7.50,150.01,midfield,liverpool

In [26]:
nans = df.shape[0] - df.dropna().shape[0]
nans

3

In [27]:
print('{} rows have missing values'.format(nans))

3 rows have missing values

### Selecting NaN Rows

In [31]:
df['assists']

0     3.0
1     4.0
2     7.0
3     1.0
4     NaN
5     NaN
6     2.0
7    14.0
8     0.0
9     1.0
Name: assists, dtype: float64

In [33]:
df['assists'].isnull()

0    False
1    False
2    False
3    False
4     True
5     True
6    False
7    False
8    False
9    False
Name: assists, dtype: bool

In [34]:
type(df['assists'].isnull())

pandas.core.series.Series

In [30]:
df[df['assists'].isnull()]

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
4,ángel di maría,15.0,13.0,3,NaN,13,10.17,132.23,midfield,manchester united
5,santiago cazorla,14.8,20.0,4,NaN,20,9.97,NaN,midfield,arsenal

### Selecting non-NaN Rows

In [35]:
df[df.assists.notnull()]

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,sergio agüero,19.2,16.0,14,3.0,34,13.12,209.98,forward,manchester city
1,eden hazard,18.9,21.0,8,4.0,17,13.05,274.04,midfield,chelsea
2,alexis sánchez,17.6,NaN,12,7.0,29,11.19,223.86,forward,arsenal
3,yaya touré,16.6,18.0,7,1.0,19,10.99,197.91,midfield,manchester city
6,david silva,14.3,15.0,6,2.0,11,10.35,155.26,midfield,manchester city
7,cesc fàbregas,14.0,20.0,2,14.0,10,10.47,209.49,midfield,chelsea
8,saido berahino,13.8,21.0,9,0.0,20,7.02,147.43,forward,west brom
9,steven gerrard,13.8,20.0,5,1.0,11,7.50,150.01,midfield,liverpool

### Filling NaN Rows

In [36]:
df.fillna?

In [37]:
# Fill NA/NaN values using the specified method
df.fillna(value=0, inplace=True); df

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,sergio agüero,19.2,16.0,14,3.0,34,13.12,209.98,forward,manchester city
1,eden hazard,18.9,21.0,8,4.0,17,13.05,274.04,midfield,chelsea
2,alexis sánchez,17.6,0.0,12,7.0,29,11.19,223.86,forward,arsenal
3,yaya touré,16.6,18.0,7,1.0,19,10.99,197.91,midfield,manchester city
4,ángel di maría,15.0,13.0,3,0.0,13,10.17,132.23,midfield,manchester united
5,santiago cazorla,14.8,20.0,4,0.0,20,9.97,0.00,midfield,arsenal
6,david silva,14.3,15.0,6,2.0,11,10.35,155.26,midfield,manchester city
7,cesc fàbregas,14.0,20.0,2,14.0,10,10.47,209.49,midfield,chelsea
8,saido berahino,13.8,21.0,9,0.0,20,7.02,147.43,forward,west brom
9,steven gerrard,13.8,20.0,5,1.0,11,7.50,150.01,midfield,liverpool

# Appending Rows to a DataFrame

In [39]:
import numpy as np

In [41]:
df

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,sergio agüero,19.2,16.0,14,3.0,34,13.12,209.98,forward,manchester city
1,eden hazard,18.9,21.0,8,4.0,17,13.05,274.04,midfield,chelsea
2,alexis sánchez,17.6,0.0,12,7.0,29,11.19,223.86,forward,arsenal
3,yaya touré,16.6,18.0,7,1.0,19,10.99,197.91,midfield,manchester city
4,ángel di maría,15.0,13.0,3,0.0,13,10.17,132.23,midfield,manchester united
5,santiago cazorla,14.8,20.0,4,0.0,20,9.97,0.00,midfield,arsenal
6,david silva,14.3,15.0,6,2.0,11,10.35,155.26,midfield,manchester city
7,cesc fàbregas,14.0,20.0,2,14.0,10,10.47,209.49,midfield,chelsea
8,saido berahino,13.8,21.0,9,0.0,20,7.02,147.43,forward,west brom
9,steven gerrard,13.8,20.0,5,1.0,11,7.50,150.01,midfield,liverpool

In [42]:
df.columns

Index(['player', 'salary', 'games', 'goals', 'assists', 'shot_on_target',
       'point_per_game', 'points', 'position', 'team'],
      dtype='object')

In [43]:
df = df.append(
    pd.Series(
        [np.nan] * len(df.columns), # fill cells with NaNs
        index=df.columns
    ), 
    ignore_index=True
)

In [47]:
df

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,sergio agüero,19.2,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
1,eden hazard,18.9,21.0,8.0,4.0,17.0,13.05,274.04,midfield,chelsea
2,alexis sánchez,17.6,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
3,yaya touré,16.6,18.0,7.0,1.0,19.0,10.99,197.91,midfield,manchester city
4,ángel di maría,15.0,13.0,3.0,0.0,13.0,10.17,132.23,midfield,manchester united
5,santiago cazorla,14.8,20.0,4.0,0.0,20.0,9.97,0.00,midfield,arsenal
6,david silva,14.3,15.0,6.0,2.0,11.0,10.35,155.26,midfield,manchester city
7,cesc fàbregas,14.0,20.0,2.0,14.0,10.0,10.47,209.49,midfield,chelsea
8,saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom
9,steven gerrard,13.8,20.0,5.0,1.0,11.0,7.50,150.01,midfield,liverpool
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df.append?

In [50]:
# ignore_index: If True, do not use the index labels.

In [51]:
# filling cells with data
df.index[-1]

10

In [52]:
df.loc[df.index[-1]]

player            NaN
salary            NaN
games             NaN
goals             NaN
assists           NaN
shot_on_target    NaN
point_per_game    NaN
points            NaN
position          NaN
team              NaN
Name: 10, dtype: object

In [55]:
df.loc[df.index[-1], 'player'] = 'new player'; df

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,sergio agüero,19.2,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
1,eden hazard,18.9,21.0,8.0,4.0,17.0,13.05,274.04,midfield,chelsea
2,alexis sánchez,17.6,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
3,yaya touré,16.6,18.0,7.0,1.0,19.0,10.99,197.91,midfield,manchester city
4,ángel di maría,15.0,13.0,3.0,0.0,13.0,10.17,132.23,midfield,manchester united
5,santiago cazorla,14.8,20.0,4.0,0.0,20.0,9.97,0.00,midfield,arsenal
6,david silva,14.3,15.0,6.0,2.0,11.0,10.35,155.26,midfield,manchester city
7,cesc fàbregas,14.0,20.0,2.0,14.0,10.0,10.47,209.49,midfield,chelsea
8,saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom
9,steven gerrard,13.8,20.0,5.0,1.0,11.0,7.50,150.01,midfield,liverpool
10,new player,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df.loc[df.index[-1], 'salary'] = 12.3; df

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,sergio agüero,19.2,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
1,eden hazard,18.9,21.0,8.0,4.0,17.0,13.05,274.04,midfield,chelsea
2,alexis sánchez,17.6,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
3,yaya touré,16.6,18.0,7.0,1.0,19.0,10.99,197.91,midfield,manchester city
4,ángel di maría,15.0,13.0,3.0,0.0,13.0,10.17,132.23,midfield,manchester united
5,santiago cazorla,14.8,20.0,4.0,0.0,20.0,9.97,0.00,midfield,arsenal
6,david silva,14.3,15.0,6.0,2.0,11.0,10.35,155.26,midfield,manchester city
7,cesc fàbregas,14.0,20.0,2.0,14.0,10.0,10.47,209.49,midfield,chelsea
8,saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom
9,steven gerrard,13.8,20.0,5.0,1.0,11.0,7.50,150.01,midfield,liverpool
10,new player,12.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Sorting and Reindexing DataFrames

In [57]:
df.sort('goals', ascending=False, inplace=True); df

/home/phanhoang/workspace/learning/calculation/.env/lib/python3.4/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,sergio agüero,19.2,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
2,alexis sánchez,17.6,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
8,saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom
1,eden hazard,18.9,21.0,8.0,4.0,17.0,13.05,274.04,midfield,chelsea
3,yaya touré,16.6,18.0,7.0,1.0,19.0,10.99,197.91,midfield,manchester city
6,david silva,14.3,15.0,6.0,2.0,11.0,10.35,155.26,midfield,manchester city
9,steven gerrard,13.8,20.0,5.0,1.0,11.0,7.50,150.01,midfield,liverpool
5,santiago cazorla,14.8,20.0,4.0,0.0,20.0,9.97,0.00,midfield,arsenal
4,ángel di maría,15.0,13.0,3.0,0.0,13.0,10.17,132.23,midfield,manchester united
7,cesc fàbregas,14.0,20.0,2.0,14.0,10.0,10.47,209.49,midfield,chelsea
10,new player,12.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df.index

Int64Index([0, 2, 8, 1, 3, 6, 9, 5, 4, 7, 10], dtype='int64')

In [59]:
df.index = range(1, len(df.index) + 1); df

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
1,sergio agüero,19.2,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
2,alexis sánchez,17.6,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
3,saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom
4,eden hazard,18.9,21.0,8.0,4.0,17.0,13.05,274.04,midfield,chelsea
5,yaya touré,16.6,18.0,7.0,1.0,19.0,10.99,197.91,midfield,manchester city
6,david silva,14.3,15.0,6.0,2.0,11.0,10.35,155.26,midfield,manchester city
7,steven gerrard,13.8,20.0,5.0,1.0,11.0,7.50,150.01,midfield,liverpool
8,santiago cazorla,14.8,20.0,4.0,0.0,20.0,9.97,0.00,midfield,arsenal
9,ángel di maría,15.0,13.0,3.0,0.0,13.0,10.17,132.23,midfield,manchester united
10,cesc fàbregas,14.0,20.0,2.0,14.0,10.0,10.47,209.49,midfield,chelsea
11,new player,12.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Updating Columns

In [60]:
df_2 = df.copy?

In [61]:
df_2 = df.copy()
df_2.loc[0:2, 'salary']

1    19.2
2    17.6
Name: salary, dtype: object

In [64]:
df_2.loc[0:2, 'salary'] = [20.0, 15.0]; df_2.head(3)

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
1,sergio agüero,20,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
2,alexis sánchez,15,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
3,saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom

In [65]:
df.head(3)

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
1,sergio agüero,19.2,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
2,alexis sánchez,17.6,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
3,saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom

In [66]:
df.set_index('player')

,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
player,,,,,,,,,
sergio agüero,19.2,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
alexis sánchez,17.6,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom
eden hazard,18.9,21.0,8.0,4.0,17.0,13.05,274.04,midfield,chelsea
yaya touré,16.6,18.0,7.0,1.0,19.0,10.99,197.91,midfield,manchester city
david silva,14.3,15.0,6.0,2.0,11.0,10.35,155.26,midfield,manchester city
steven gerrard,13.8,20.0,5.0,1.0,11.0,7.50,150.01,midfield,liverpool
santiago cazorla,14.8,20.0,4.0,0.0,20.0,9.97,0.00,midfield,arsenal
ángel di maría,15.0,13.0,3.0,0.0,13.0,10.17,132.23,midfield,manchester united
cesc fàbregas,14.0,20.0,2.0,14.0,10.0,10.47,209.49,midfield,chelsea
new player,12.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df.head(3)

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
1,sergio agüero,19.2,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
2,alexis sánchez,17.6,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
3,saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom

In [68]:
df.set_index('player', inplace=True)
df_2.set_index('player', inplace=True)
df.head(3)

,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
player,,,,,,,,,
sergio agüero,19.2,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
alexis sánchez,17.6,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom

In [69]:
# update the 'salary' column
df.update(other=df_2['salary'], overwrite=True); df.head(3)

,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
player,,,,,,,,,
sergio agüero,20,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
alexis sánchez,15,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom

In [70]:
# reset index
df.reset_index(inplace=True); df.head(3)

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,sergio agüero,20,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
1,alexis sánchez,15,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
2,saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom

# Chaining Conditions - Using Bitwise Operators

In [71]:
# Selecting only those players that either playing for Arsenal or Chelsea
df[(df['team'] == 'arsenal') | (df['team'] == 'chelsea')]

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
1,alexis sánchez,15,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
3,eden hazard,18.9,21.0,8.0,4.0,17.0,13.05,274.04,midfield,chelsea
7,santiago cazorla,14.8,20.0,4.0,0.0,20.0,9.97,0.00,midfield,arsenal
9,cesc fàbregas,14.0,20.0,2.0,14.0,10.0,10.47,209.49,midfield,chelsea

In [73]:
# Selecting forwards from Arsenal only
df[(df.team == 'arsenal') & (df.position == 'forward')]

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
1,alexis sánchez,15,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal

# Column Types

In [74]:
df.columns, type(df.columns)

(Index(['player', 'salary', 'games', 'goals', 'assists', 'shot_on_target',
        'point_per_game', 'points', 'position', 'team'],
       dtype='object'), pandas.indexes.base.Index)

In [75]:
types = df.columns.to_series?

In [76]:
df.columns.to_series()

player                    player
salary                    salary
games                      games
goals                      goals
assists                  assists
shot_on_target    shot_on_target
point_per_game    point_per_game
points                    points
position                position
team                        team
dtype: object

In [77]:
df.columns.to_series().groupby(df.dtypes)

In [78]:
types = df.columns.to_series().groupby(df.dtypes).groups
types

{dtype('float64'): Index(['games', 'goals', 'assists', 'shot_on_target', 'point_per_game',
        'points'],
       dtype='object'),
 dtype('O'): Index(['player', 'salary', 'position', 'team'], dtype='object')}

In [85]:
type(types), len(types)

(dict, 2)

In [87]:
for key in types:
    print(key)

object
float64

### Selecting by Column Type

In [92]:
df

,player,salary,games,goals,assists,shot_on_target,point_per_game,points,position,team
0,sergio agüero,20,16.0,14.0,3.0,34.0,13.12,209.98,forward,manchester city
1,alexis sánchez,15,0.0,12.0,7.0,29.0,11.19,223.86,forward,arsenal
2,saido berahino,13.8,21.0,9.0,0.0,20.0,7.02,147.43,forward,west brom
3,eden hazard,18.9,21.0,8.0,4.0,17.0,13.05,274.04,midfield,chelsea
4,yaya touré,16.6,18.0,7.0,1.0,19.0,10.99,197.91,midfield,manchester city
5,david silva,14.3,15.0,6.0,2.0,11.0,10.35,155.26,midfield,manchester city
6,steven gerrard,13.8,20.0,5.0,1.0,11.0,7.50,150.01,midfield,liverpool
7,santiago cazorla,14.8,20.0,4.0,0.0,20.0,9.97,0.00,midfield,arsenal
8,ángel di maría,15.0,13.0,3.0,0.0,13.0,10.17,132.23,midfield,manchester united
9,cesc fàbregas,14.0,20.0,2.0,14.0,10.0,10.47,209.49,midfield,chelsea
10,new player,12.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
np.dtype('O')

dtype('O')

In [103]:
np.dtype('object')

dtype('O')

In [104]:
df.dtypes

player             object
salary             object
games             float64
goals             float64
assists           float64
shot_on_target    float64
point_per_game    float64
points            float64
position           object
team               object
dtype: object

In [105]:
np.dtype('O') == object

True

In [106]:
df.loc[:, df.dtypes == np.dtype('O')].head()

           player salary  position             team
0   sergio agüero     20   forward  manchester city
1  alexis sánchez     15   forward          arsenal
2  saido berahino   13.8   forward        west brom
3     eden hazard   18.9  midfield          chelsea
4      yaya touré   16.6  midfield  manchester city

In [107]:
df.loc[:, (df.dtypes == np.dtype('O')).values].head()

           player salary  position             team
0   sergio agüero     20   forward  manchester city
1  alexis sánchez     15   forward          arsenal
2  saido berahino   13.8   forward        west brom
3     eden hazard   18.9  midfield          chelsea
4      yaya touré   16.6  midfield  manchester city

### Converting Column Types

In [110]:
df.salary.dtypes

dtype('O')

In [111]:
df.salary = df.salary.astype(float)

In [112]:
df.salary.dtypes

dtype('float64')

In [114]:
types = df.columns.to_series().groupby(df.dtypes).groups
types

{dtype('float64'): Index(['salary', 'games', 'goals', 'assists', 'shot_on_target',
        'point_per_game', 'points'],
       dtype='object'),
 dtype('O'): Index(['player', 'position', 'team'], dtype='object')}

In [115]:
len(types)

2

# If-tests

In [116]:
int(True), int(False)

(1, 0)

In [117]:
a = [[2., .3, 4., 5.], [.8, .03, 0.02, 5.]]

In [118]:
df = pd.DataFrame(a)

In [119]:
df

     0     1     2    3
0  2.0  0.30  4.00  5.0
1  0.8  0.03  0.02  5.0

In [120]:
mask = df <= 0.05

In [121]:
mask

       0      1      2      3
0  False  False  False  False
1  False   True   True  False

In [123]:
mask.astype(int)

   0  1  2  3
0  0  0  0  0
1  0  1  1  0